// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WhitebitApi from "../../../index.js";

export declare namespace MarketFeeClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Endpoints for querying trading fees
 */
export class MarketFeeClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MarketFeeClient.Options>;

    constructor(options: MarketFeeClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the account's default spot and futures maker and taker fees, plus any custom per-market overrides.
     *
     * The `maker` and `taker` fields represent default spot trading fees. The `futures_maker` and `futures_taker` fields represent default futures trading fees. The `custom_fee` object lists per-market overrides, keyed by market name.
     *
     * For accounts with the [Retail Price Improvement (RPI)](/glossary#retail-price-improvement-rpi) order mode enabled, the response returns non-null RPI maker fee premiums applied on top of the maker rates when RPI orders execute.
     *
     * The system calculates the effective futures fee as the lower value between the user-specific custom fee and the market-specific fee.
     *
     * When the market fee is lower than the assigned custom fee, the system returns the market fee.
     *
     * Example: If the custom futures taker fee equals `0.026` and the market fee equals `0.02`, the response returns `0.02`.
     *
     * @param {WhitebitApi.GetMarketFeeRequest} request
     * @param {MarketFeeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.marketFee.getMarketFee({
     *         market: "BTC_USDT"
     *     })
     */
    public getMarketFee(
        request: WhitebitApi.GetMarketFeeRequest = {},
        requestOptions?: MarketFeeClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetMarketFeeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMarketFee(request, requestOptions));
    }

    private async __getMarketFee(
        request: WhitebitApi.GetMarketFeeRequest = {},
        requestOptions?: MarketFeeClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetMarketFeeResponse>> {
        const { market } = request;
        const _queryParams: Record<string, unknown> = {
            market,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/market/fee",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.GetMarketFeeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/market/fee");
    }
}
