// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WhitebitApi from "../../../index.js";

export declare namespace SubAccountClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Sub-account management
 */
export class SubAccountClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SubAccountClient.Options>;

    constructor(options: SubAccountClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The endpoint creates new [sub-account](/glossary#sub-account).
     *
     * <Note>
     * The `email` field requirement depends on the `shareKyc` parameter:
     * - When `shareKyc` is `false` or not provided: `email` is **required**
     * - When `shareKyc` is `true`: `email` is **optional**
     * </Note>
     *
     * <Note>
     * Crypto deposits are disabled by default. Once deposits are enabled for the account, the
     * capability applies to the account and its sub-accounts; enablement is not available via
     * API. To request it, contact your assigned Account Manager or email institutional@whitebit.com.
     * Once enabled, a sub-account generates deposit addresses through the standard
     * [deposit-address endpoint](/api-reference/account-wallet/get-cryptocurrency-deposit-address)
     * using its own API key with deposit permission.
     * </Note>
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.CreateSubAccountRequest} request
     * @param {SubAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.subAccount.createSubAccount({
     *         alias: "trading_bot",
     *         permissions: {
     *             spotEnabled: true,
     *             collateralEnabled: false
     *         }
     *     })
     */
    public createSubAccount(
        request: WhitebitApi.CreateSubAccountRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.SubAccount> {
        return core.HttpResponsePromise.fromPromise(this.__createSubAccount(request, requestOptions));
    }

    private async __createSubAccount(
        request: WhitebitApi.CreateSubAccountRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.SubAccount>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/create",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.SubAccount, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/sub-account/create");
    }

    /**
     * The endpoint deletes [sub-account](/glossary#sub-account).
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.DeleteSubAccountRequest} request
     * @param {SubAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.subAccount.deleteSubAccount({
     *         id: "8e667b4a-0b71-4988-8af5-9474dbfaeb51"
     *     })
     */
    public deleteSubAccount(
        request: WhitebitApi.DeleteSubAccountRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__deleteSubAccount(request, requestOptions));
    }

    private async __deleteSubAccount(
        request: WhitebitApi.DeleteSubAccountRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/delete",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/sub-account/delete");
    }

    /**
     * The endpoint edits [sub-account](/glossary#sub-account).
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.EditSubAccountRequest} request
     * @param {SubAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.subAccount.editSubAccount({
     *         id: "8e667b4a-0b71-4988-8af5-9474dbfaeb51",
     *         alias: "training",
     *         permissions: {
     *             spotEnabled: true,
     *             collateralEnabled: false
     *         }
     *     })
     */
    public editSubAccount(
        request: WhitebitApi.EditSubAccountRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__editSubAccount(request, requestOptions));
    }

    private async __editSubAccount(
        request: WhitebitApi.EditSubAccountRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/edit",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/sub-account/edit");
    }

    /**
     * The endpoint returns list of current user [sub-accounts](/glossary#sub-account).
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.ListSubAccountsRequest} request
     * @param {SubAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.subAccount.listSubAccounts()
     */
    public listSubAccounts(
        request: WhitebitApi.ListSubAccountsRequest = {},
        requestOptions?: SubAccountClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.ListSubAccountsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listSubAccounts(request, requestOptions));
    }

    private async __listSubAccounts(
        request: WhitebitApi.ListSubAccountsRequest = {},
        requestOptions?: SubAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.ListSubAccountsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/list",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.ListSubAccountsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/sub-account/list");
    }

    /**
     * The endpoint creates transfer from main account to [sub-account](/glossary#sub-account) or vice versa.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.SubAccountTransferRequest} request
     * @param {SubAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.subAccount.transfer({
     *         id: "8e667b4a-0b71-4988-8af5-9474dbfaeb51",
     *         direction: "main_to_sub",
     *         amount: "0.5",
     *         ticker: "ETH"
     *     })
     */
    public transfer(
        request: WhitebitApi.SubAccountTransferRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.SubAccountTransferResponse> {
        return core.HttpResponsePromise.fromPromise(this.__transfer(request, requestOptions));
    }

    private async __transfer(
        request: WhitebitApi.SubAccountTransferRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.SubAccountTransferResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/transfer",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.SubAccountTransferResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/sub-account/transfer");
    }

    /**
     * The endpoint blocks [sub-account](/glossary#sub-account).
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.BlockSubAccountRequest} request
     * @param {SubAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.subAccount.blockSubAccount({
     *         id: "8e667b4a-0b71-4988-8af5-9474dbfaeb51"
     *     })
     */
    public blockSubAccount(
        request: WhitebitApi.BlockSubAccountRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__blockSubAccount(request, requestOptions));
    }

    private async __blockSubAccount(
        request: WhitebitApi.BlockSubAccountRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/block",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/sub-account/block");
    }

    /**
     * The endpoint unblocks [sub-account](/glossary#sub-account).
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.UnblockSubAccountRequest} request
     * @param {SubAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.subAccount.unblockSubAccount({
     *         id: "8e667b4a-0b71-4988-8af5-9474dbfaeb51"
     *     })
     */
    public unblockSubAccount(
        request: WhitebitApi.UnblockSubAccountRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__unblockSubAccount(request, requestOptions));
    }

    private async __unblockSubAccount(
        request: WhitebitApi.UnblockSubAccountRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/unblock",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/sub-account/unblock");
    }

    /**
     * The endpoint returns [sub-account](/glossary#sub-account) balances.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.GetSubAccountBalancesRequest} request
     * @param {SubAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.subAccount.getSubAccountBalances({
     *         id: "8e667b4a-0b71-4988-8af5-9474dbfaeb51",
     *         ticker: "USDC"
     *     })
     */
    public getSubAccountBalances(
        request: WhitebitApi.GetSubAccountBalancesRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, WhitebitApi.GetSubAccountBalancesResponseValueItem[]>> {
        return core.HttpResponsePromise.fromPromise(this.__getSubAccountBalances(request, requestOptions));
    }

    private async __getSubAccountBalances(
        request: WhitebitApi.GetSubAccountBalancesRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, WhitebitApi.GetSubAccountBalancesResponseValueItem[]>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/balances",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Record<string, WhitebitApi.GetSubAccountBalancesResponseValueItem[]>,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/sub-account/balances");
    }

    /**
     * The endpoint returns history of transfers between main account and [sub-account](/glossary#sub-account).
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * <Note>
     * Results are sorted by transaction id descending (newest transfer first). The response is a plain array with no `total`, `has_more`, or cursor — a returned count below `limit` marks the last page (an empty array means no further records).
     * </Note>
     *
     * <Note>
     * **No date filtering:** the endpoint does not accept `startDate` / `endDate` parameters, and pagination is capped at `offset + limit ≤ 10000` (`limit` ≤ 100). The required `id` parameter already scopes results to a single sub-account; for a complete history export beyond the cap, use the Report on the History page.
     * </Note>
     *
     * @param {WhitebitApi.GetSubAccountTransferHistoryRequest} request
     * @param {SubAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.subAccount.getSubAccountTransferHistory({
     *         id: "8e667b4a-0b71-4988-8af5-9474dbfaeb51"
     *     })
     */
    public getSubAccountTransferHistory(
        request: WhitebitApi.GetSubAccountTransferHistoryRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetSubAccountTransferHistoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSubAccountTransferHistory(request, requestOptions));
    }

    private async __getSubAccountTransferHistory(
        request: WhitebitApi.GetSubAccountTransferHistoryRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetSubAccountTransferHistoryResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/transfer/history",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetSubAccountTransferHistoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/sub-account/transfer/history",
        );
    }

    /**
     * The endpoint returns a paginated list of withdrawal transactions in `unconfirmed_by_main_account` status,
     * created by [sub-accounts](/glossary#sub-account) of the authenticated main account and awaiting main account confirmation.
     * Results are ordered by creation time, newest first.
     *
     * <Note>
     * The sub-account withdrawal endpoints are not available by default. To request access, contact institutional@whitebit.com.
     * A `404 Not Found` response indicates the endpoint is not enabled for the account.
     * </Note>
     *
     * <Note>
     * The sub-account feature must be enabled for the region.
     * </Note>
     *
     * @param {WhitebitApi.ListUnconfirmedSubAccountWithdrawalsRequest} request
     * @param {SubAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnauthorizedError}
     * @throws {@link WhitebitApi.NotFoundError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.subAccount.listUnconfirmedSubAccountWithdrawals({
     *         limit: 100,
     *         offset: 0
     *     })
     */
    public listUnconfirmedSubAccountWithdrawals(
        request: WhitebitApi.ListUnconfirmedSubAccountWithdrawalsRequest = {},
        requestOptions?: SubAccountClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.ListUnconfirmedSubAccountWithdrawalsResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__listUnconfirmedSubAccountWithdrawals(request, requestOptions),
        );
    }

    private async __listUnconfirmedSubAccountWithdrawals(
        request: WhitebitApi.ListUnconfirmedSubAccountWithdrawalsRequest = {},
        requestOptions?: SubAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.ListUnconfirmedSubAccountWithdrawalsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/withdraw/unconfirmed-list",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.ListUnconfirmedSubAccountWithdrawalsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new WhitebitApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new WhitebitApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/sub-account/withdraw/unconfirmed-list",
        );
    }

    /**
     * The endpoint confirms a single withdrawal transaction created by a [sub-account](/glossary#sub-account)
     * of the authenticated main account. Confirmation is the main account action that approves a withdrawal
     * held in `unconfirmed_by_main_account` status and releases it for processing.
     *
     * Identify the target transaction by its external id, obtained from
     * [List Unconfirmed Sub-Account Withdrawals](/api-reference/sub-accounts/list-unconfirmed-sub-account-withdrawals).
     * Confirmation is the only main account action on an unconfirmed withdrawal; a withdrawal left unconfirmed
     * expires after a retention period. A successful call returns an empty object.
     *
     * <Note>
     * The sub-account withdrawal endpoints are not available by default. To request access, contact institutional@whitebit.com.
     * A `404 Not Found` response indicates the endpoint is not enabled for the account.
     * </Note>
     *
     * <Note>
     * The sub-account feature must be enabled for the region.
     * </Note>
     *
     * @param {WhitebitApi.ConfirmSubAccountWithdrawalRequest} request
     * @param {SubAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnauthorizedError}
     * @throws {@link WhitebitApi.NotFoundError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.subAccount.confirmSubAccountWithdrawal({
     *         id: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
     *     })
     */
    public confirmSubAccountWithdrawal(
        request: WhitebitApi.ConfirmSubAccountWithdrawalRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__confirmSubAccountWithdrawal(request, requestOptions));
    }

    private async __confirmSubAccountWithdrawal(
        request: WhitebitApi.ConfirmSubAccountWithdrawalRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/withdraw/confirm",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new WhitebitApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new WhitebitApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/sub-account/withdraw/confirm",
        );
    }

    /**
     * The endpoint generates a temporary KYC verification link for a [sub-account](/glossary#sub-account).
     *
     * <Note>
     * The sub-account must meet all of the following conditions before a KYC URL can be generated:
     * - The sub-account must be activated (have an associated user).
     * - The sub-account must be active (not locked or blocked).
     * - The sub-account must not have shared KYC enabled.
     * </Note>
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.GetSubAccountKycUrlRequest} request
     * @param {SubAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnauthorizedError}
     * @throws {@link WhitebitApi.NotFoundError}
     *
     * @example
     *     await client.subAccount.getSubAccountKycUrl({
     *         id: "8e667b4a-0b71-4988-8af5-9474dbfaeb51"
     *     })
     */
    public getSubAccountKycUrl(
        request: WhitebitApi.GetSubAccountKycUrlRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetSubAccountKycUrlResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSubAccountKycUrl(request, requestOptions));
    }

    private async __getSubAccountKycUrl(
        request: WhitebitApi.GetSubAccountKycUrlRequest,
        requestOptions?: SubAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetSubAccountKycUrlResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/kyc-url",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetSubAccountKycUrlResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new WhitebitApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new WhitebitApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/sub-account/kyc-url");
    }
}
