// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WhitebitApi from "../../../index.js";

export declare namespace AuthenticationClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AuthenticationClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AuthenticationClient.Options>;

    constructor(options: AuthenticationClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The endpoint initiates the OAuth 2.0 authorization flow for user authentication and obtaining an authorization code.
     *
     * **Using the State Parameter (Best Practice)**
     *
     * The `state` parameter is crucial for security in OAuth flows:
     *
     * - Generate a cryptographically secure random string
     * - Store it in the session before redirecting
     * - Validate it matches when handling the callback
     * - This prevents CSRF attacks
     * <Note>
     * **Note:** OAuth scopes are predefined during client application setup and cannot be modified during the authorization request. The access token will include all scopes that were approved during client creation.
     * </Note>
     *
     * @param {WhitebitApi.GetAuthLoginRequest} request
     * @param {AuthenticationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.authentication.oAuth20Authorization({
     *         clientId: "YOUR_CLIENT_ID",
     *         state: "SECURE_RANDOM_STATE"
     *     })
     */
    public oAuth20Authorization(
        request: WhitebitApi.GetAuthLoginRequest,
        requestOptions?: AuthenticationClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__oAuth20Authorization(request, requestOptions));
    }

    private async __oAuth20Authorization(
        request: WhitebitApi.GetAuthLoginRequest,
        requestOptions?: AuthenticationClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { clientId, state } = request;
        const _queryParams: Record<string, unknown> = {
            clientId,
            state,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "auth/login",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/auth/login");
    }

    /**
     * The endpoint activates an access token by exchanging an authorization code.
     *
     * <Warning>
     * **Important Notes:**
     *
     * - Access token duration is 300 seconds
     * - The IP of the client must be added to WB Allowlist
     * </Warning>
     *
     * **Request Headers:**
     * - Content-Type: application/x-www-form-urlencoded
     *
     * @param {WhitebitApi.PostOauth2TokenRequest} request
     * @param {AuthenticationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnauthorizedError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.authentication.getAccessToken({
     *         client_id: "YOUR_CLIENT_ID",
     *         client_secret: "YOUR_CLIENT_SECRET",
     *         code: "AUTHORIZATION_CODE"
     *     })
     */
    public getAccessToken(
        request: WhitebitApi.PostOauth2TokenRequest,
        requestOptions?: AuthenticationClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.PostOauth2TokenResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getAccessToken(request, requestOptions));
    }

    private async __getAccessToken(
        request: WhitebitApi.PostOauth2TokenRequest,
        requestOptions?: AuthenticationClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.PostOauth2TokenResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "oauth2/token",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.PostOauth2TokenResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new WhitebitApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/oauth2/token");
    }

    /**
     * This endpoint creates a new access token using a refresh token.
     *
     * **Request Headers:**
     * - Content-Type: application/x-www-form-urlencoded
     *
     * <Warning>
     * **Important Notes:**
     *
     * - Refresh token duration is 600 seconds
     * - Rate limit: 1 request per second
     * - The IP of the client must be added to WB Allowlist
     * </Warning>
     *
     * @param {WhitebitApi.PostOauth2RefreshTokenRequest} request
     * @param {AuthenticationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.authentication.refreshToken({
     *         client_id: "YOUR_CLIENT_ID",
     *         client_secret: "YOUR_CLIENT_SECRET",
     *         token: "REFRESH_TOKEN"
     *     })
     */
    public refreshToken(
        request: WhitebitApi.PostOauth2RefreshTokenRequest,
        requestOptions?: AuthenticationClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.PostOauth2RefreshTokenResponse> {
        return core.HttpResponsePromise.fromPromise(this.__refreshToken(request, requestOptions));
    }

    private async __refreshToken(
        request: WhitebitApi.PostOauth2RefreshTokenRequest,
        requestOptions?: AuthenticationClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.PostOauth2RefreshTokenResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "oauth2/refresh_token",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.PostOauth2RefreshTokenResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/oauth2/refresh_token");
    }
}
