// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WhitebitApi from "../../../index.js";

export declare namespace TravelRuleClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Travel Rule compliance endpoints for deposits and withdrawals
 */
export class TravelRuleClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TravelRuleClient.Options>;

    constructor(options: TravelRuleClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves the list of Virtual Asset Service Providers (VASPs) that can be used when submitting travel rule data for deposits and withdrawals.
     *
     * Use the returned `vaspId` when submitting travel rule data if the destination/originating VASP is in this list. If the VASP is not in the list, use `vaspName` as a fallback.
     *
     * <Accordion title="Errors">
     * **API disabled for region (422):**
     * ```json
     * {
     *   "code": 0,
     *   "message": "Something went wrong",
     *   "errors": {
     *     "error": ["This endpoint is disabled for your region"]
     *   }
     * }
     * ```
     * </Accordion>
     *
     * Beyond the errors above, this endpoint can return only the [common authentication errors](/api-reference/authentication).
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.GetTravelRuleVaspsRequest} request
     * @param {TravelRuleClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.travelRule.getTravelRuleVasps({
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public getTravelRuleVasps(
        request: WhitebitApi.GetTravelRuleVaspsRequest,
        requestOptions?: TravelRuleClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetTravelRuleVaspsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getTravelRuleVasps(request, requestOptions));
    }

    private async __getTravelRuleVasps(
        request: WhitebitApi.GetTravelRuleVaspsRequest,
        requestOptions?: TravelRuleClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetTravelRuleVaspsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/travel-rule/vasps",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetTravelRuleVaspsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/travel-rule/vasps");
    }

    /**
     * Submits originator information for a deposit that is ready for the travel rule verification.
     *
     * **Wallet types:**
     * - `hosted` - VASP-hosted wallet (exchange, custodian). Requires `vaspData` object.
     * - `unhosted` - Self-custody wallet (hardware wallet, software wallet). No VASP required.
     *
     * **Party types:**
     * - `individual` - Natural person. Requires `firstName` and `lastName`.
     * - `entity` - Legal entity. Requires `fullName`.
     *
     * <Accordion title="Errors">
     * **Validation failed (400):**
     * ```json
     * {
     *   "code": 0,
     *   "message": "Validation failed",
     *   "errors": {
     *     "originator.firstName": ["The first name field is required for individual."],
     *     "originator.address": ["The originator address field is required."]
     *   }
     * }
     * ```
     *
     * **Transaction not found (422):**
     * ```json
     * {
     *   "code": 0,
     *   "message": "Something went wrong",
     *   "errors": {
     *     "uniqueId": ["Transaction not found"]
     *   }
     * }
     * ```
     *
     * **Transaction must be deposit (422):**
     * ```json
     * {
     *   "code": 0,
     *   "message": "Something went wrong",
     *   "errors": {
     *     "uniqueId": ["Transaction must be a deposit"]
     *   }
     * }
     * ```
     *
     * **Transaction not ready for verification (422):**
     * ```json
     * {
     *   "code": 0,
     *   "message": "Something went wrong",
     *   "errors": {
     *     "uniqueId": ["Transaction is not ready for verification"]
     *   }
     * }
     * ```
     *
     * **API disabled for region (422):**
     * ```json
     * {
     *   "code": 0,
     *   "message": "Something went wrong",
     *   "errors": {
     *     "error": ["This endpoint is disabled for your region"]
     *   }
     * }
     * ```
     *
     * **Missing VASP for hosted wallet (400):**
     * ```json
     * {
     *   "code": 0,
     *   "message": "Validation failed",
     *   "errors": {
     *     "vaspData": ["Either vaspId or vaspName is required for hosted wallets"]
     *   }
     * }
     * ```
     * </Accordion>
     *
     * Beyond the errors above, this endpoint can return only the [common authentication errors](/api-reference/authentication).
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.TravelRuleDepositVerificationRequest} request
     * @param {TravelRuleClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.travelRule.submitTravelRuleDepositVerification({
     *         uniqueId: "550e8400-e29b-41d4-a716-446655440000",
     *         walletType: "hosted",
     *         originator: {
     *             type: "individual",
     *             firstName: "Alice",
     *             lastName: "Johnson",
     *             residenceCountry: "NLD",
     *             walletAddress: "0x9876543210fedcba9876543210fedcba98765432",
     *             address: {
     *                 country: "NLD",
     *                 city: "Amsterdam",
     *                 addressLine1: "Damrak 1"
     *             }
     *         },
     *         vaspData: {
     *             vaspId: "vasp-002"
     *         },
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     *
     * @example
     *     await client.travelRule.submitTravelRuleDepositVerification({
     *         uniqueId: "550e8400-e29b-41d4-a716-446655440000",
     *         walletType: "hosted",
     *         originator: {
     *             type: "entity",
     *             fullName: "Acme Corporation Ltd",
     *             residenceCountry: "GBR",
     *             walletAddress: "0xabcdef1234567890abcdef1234567890abcdef12",
     *             address: {
     *                 country: "GBR",
     *                 city: "London",
     *                 postCode: "EC2A 4BX",
     *                 addressLine1: "123 Finsbury Square"
     *             }
     *         },
     *         vaspData: {
     *             vaspName: "Famous Vasp Inc"
     *         },
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     *
     * @example
     *     await client.travelRule.submitTravelRuleDepositVerification({
     *         uniqueId: "550e8400-e29b-41d4-a716-446655440000",
     *         walletType: "unhosted",
     *         originator: {
     *             type: "individual",
     *             firstName: "Bob",
     *             lastName: "Smith",
     *             residenceCountry: "DEU",
     *             walletAddress: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh",
     *             address: {
     *                 country: "DEU",
     *                 city: "Berlin",
     *                 addressLine1: "Alexanderplatz 1"
     *             }
     *         },
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public submitTravelRuleDepositVerification(
        request: WhitebitApi.TravelRuleDepositVerificationRequest,
        requestOptions?: TravelRuleClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.SubmitTravelRuleDepositVerificationResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__submitTravelRuleDepositVerification(request, requestOptions),
        );
    }

    private async __submitTravelRuleDepositVerification(
        request: WhitebitApi.TravelRuleDepositVerificationRequest,
        requestOptions?: TravelRuleClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.SubmitTravelRuleDepositVerificationResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/travel-rule/deposit/verification",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.SubmitTravelRuleDepositVerificationResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/travel-rule/deposit/verification",
        );
    }
}
