// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WhitebitApi from "../../../index.js";

export declare namespace CodesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * WhiteBIT codes operations
 */
export class CodesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CodesClient.Options>;

    constructor(options: CodesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The endpoint creates [WhiteBIT code](/glossary#whitebit-codes).
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.CreateCodeRequest} request
     * @param {CodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.codes.createCode({
     *         ticker: "ETH",
     *         amount: "0.002",
     *         passphrase: "some passphrase",
     *         description: "some description",
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public createCode(
        request: WhitebitApi.CreateCodeRequest,
        requestOptions?: CodesClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.CreateCodeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createCode(request, requestOptions));
    }

    private async __createCode(
        request: WhitebitApi.CreateCodeRequest,
        requestOptions?: CodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.CreateCodeResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/codes",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.CreateCodeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/main-account/codes");
    }

    /**
     * The endpoint applies [WhiteBIT code](/glossary#whitebit-codes).
     *
     * <Warning>
     * Rate limit: 60 requests/1 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * <Note>
     * To avoid leaking whether a code exists, most failure modes — invalid format, expired,
     * non-existent, or wrong passphrase — collapse to one generic rejection on field `code`.
     * Only two cases are distinguishable at the API surface: a code that has already been
     * applied, and a code created by the same account.
     * </Note>
     *
     * @param {WhitebitApi.ApplyCodeRequest} request
     * @param {CodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.codes.applyCode({
     *         code: "WBe11f4fce-2a53-4edc-b195-66b693bd77e3ETH",
     *         passphrase: "some passphrase",
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public applyCode(
        request: WhitebitApi.ApplyCodeRequest,
        requestOptions?: CodesClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.ApplyCodeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__applyCode(request, requestOptions));
    }

    private async __applyCode(
        request: WhitebitApi.ApplyCodeRequest,
        requestOptions?: CodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.ApplyCodeResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/codes/apply",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.ApplyCodeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/codes/apply",
        );
    }

    /**
     * The endpoint retrieves the list of [WhiteBIT codes](/glossary#whitebit-codes) created by my account.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * <Note>
     * Results are sorted by creation date, newest first. Pagination is capped at `offset + limit ≤ 10000`; for a complete history export beyond the cap, use the Report on the History page.
     * </Note>
     *
     * @param {WhitebitApi.GetMyCodesRequest} request
     * @param {CodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.codes.getMyCodes({
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public getMyCodes(
        request: WhitebitApi.GetMyCodesRequest,
        requestOptions?: CodesClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetMyCodesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMyCodes(request, requestOptions));
    }

    private async __getMyCodes(
        request: WhitebitApi.GetMyCodesRequest,
        requestOptions?: CodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetMyCodesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/codes/my",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.GetMyCodesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/codes/my",
        );
    }

    /**
     * The endpoint retrieves the whole [codes](/glossary#whitebit-codes) history for the account.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * <Note>
     * Results are sorted by date, newest first.
     * </Note>
     *
     * <Note>
     * **No date filtering:** the endpoint does not accept `startDate` / `endDate` parameters, and pagination is capped at `offset + limit ≤ 10000` (`limit` ≤ 100). For a complete history export beyond the cap, use the Report on the History page.
     * </Note>
     *
     * @param {WhitebitApi.GetCodesHistoryRequest} request
     * @param {CodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.codes.getCodesHistory({
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public getCodesHistory(
        request: WhitebitApi.GetCodesHistoryRequest,
        requestOptions?: CodesClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetCodesHistoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCodesHistory(request, requestOptions));
    }

    private async __getCodesHistory(
        request: WhitebitApi.GetCodesHistoryRequest,
        requestOptions?: CodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetCodesHistoryResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/codes/history",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.GetCodesHistoryResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/codes/history",
        );
    }
}
