// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WhitebitApi from "../../../index.js";

export declare namespace CollateralTradingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Endpoints for collateral/margin trading operations
 */
export class CollateralTradingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CollateralTradingClient.Options>;

    constructor(options: CollateralTradingClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The endpoint returns the current [collateral balance](/glossary#balance-collateral) for one or all assets. The response maps each asset ticker to its collateral balance amount. Use the optional `ticker` parameter to filter results to a single asset.
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * <Warning>
     * Rate limit: 12000 requests/10 sec.
     * </Warning>
     *
     * <Accordion title="Errors">
     * ```json
     * {
     *   "code": 30,
     *   "message": "Validation failed",
     *   "errors": {
     *     "ticker": ["ticker is invalid."]
     *   }
     * }
     * ```
     * </Accordion>
     *
     * @param {WhitebitApi.CollateralAccountBalanceRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.collateralAccountBalance({
     *         ticker: "BTC",
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public collateralAccountBalance(
        request: WhitebitApi.CollateralAccountBalanceRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, number>> {
        return core.HttpResponsePromise.fromPromise(this.__collateralAccountBalance(request, requestOptions));
    }

    private async __collateralAccountBalance(
        request: WhitebitApi.CollateralAccountBalanceRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, number>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/collateral-account/balance",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, number>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/collateral-account/balance",
        );
    }

    /**
     * The endpoint returns a detailed [collateral balance](/glossary#balance-collateral) summary with a per-asset breakdown. Each record includes the current balance, borrowed amount, and available balance with and without borrowing capacity. Use the optional `ticker` parameter to filter results to a single asset.
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * <Warning>
     * Rate limit: 12000 requests/10 sec.
     * </Warning>
     *
     * <Accordion title="Errors">
     * ```json
     * {
     *   "code": 30,
     *   "message": "Validation failed",
     *   "errors": {
     *     "ticker": ["ticker is invalid."]
     *   }
     * }
     * ```
     * </Accordion>
     *
     * @param {WhitebitApi.CollateralAccountBalanceSummaryRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.collateralAccountBalanceSummary({
     *         ticker: "BTC",
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public collateralAccountBalanceSummary(
        request: WhitebitApi.CollateralAccountBalanceSummaryRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.CollateralAccountBalanceSummaryResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__collateralAccountBalanceSummary(request, requestOptions));
    }

    private async __collateralAccountBalanceSummary(
        request: WhitebitApi.CollateralAccountBalanceSummaryRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.CollateralAccountBalanceSummaryResponseItem[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/collateral-account/balance-summary",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.CollateralAccountBalanceSummaryResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/collateral-account/balance-summary",
        );
    }

    /**
     * The endpoint creates a [limit order](/glossary#limit-order) using [collateral balance](/glossary#balance-collateral). The order executes at the specified price or better. Use `buy` to open or increase a long position and `sell` to open or increase a short position. To close a position, place an opposite-side order matching the position amount.
     *
     * **Order validation rules** (per-market, from `GET /api/v4/public/markets`):
     * - `amount` must have at most `stockPrec` decimal places
     * - `price` must have at most `moneyPrec` decimal places
     * - `amount` must be ≥ `minAmount`
     * - `amount × price` must be ≥ `minTotal`
     * - `amount × price` must be ≤ `maxTotal` (when `maxTotal` is not `"0"`)
     *
     * <Warning>
     * Rate limit: 10000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * For open long position use **buy**, for short **sell**. To close current position, place opposite order with current position amount.
     * </Note>
     *
     * <Note>
     *   - RPI orders are post-only by design and cannot be used with the IOC flag. The API returns error code `40` when both `rpi=true` and `ioc=true` are used.
     * </Note>
     *
     *
     * <Accordion title="Error Codes">
     *   - `30` - default validation error code. Also returned when `reduceOnly=true` is combined with `stopLoss` or `takeProfit`
     *   - `31` - market validation failed
     *   - `32` - amount validation failed
     *   - `33` - price validation failed
     *   - `36` - clientOrderId validation failed
     *   - `37` - `ioc=true` cannot be combined with `postOnly=true`
     *   - `40` - `ioc=true` cannot be combined with `rpi=true`
     *   - `43` - `rpi=true` is not allowed for the account
     *   - `10` - insufficient balance to place the order
     *   - `111` - resulting position would exceed the market maximum
     *   - `112` - pending orders value would exceed the allowed maximum
     *   - `113` - position side cannot be changed while open positions or orders exist
     *   - `114` - hedge mode position side does not match (sent `BOTH` or omitted `positionSide` in hedge mode, or sent `LONG`/`SHORT` in one-way mode)
     *   - `115` - order would open a position in the opposite direction (one-way mode)
     *   - `116` - reduce-only validation failed (no position exists or order side matches position direction)
     * </Accordion>
     *
     * @param {WhitebitApi.CreateCollateralLimitOrderRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.createCollateralLimitOrder({
     *         market: "BTC_USDT",
     *         side: "buy",
     *         amount: "0.01",
     *         price: "40000",
     *         clientOrderId: "order1987111",
     *         stopLoss: "50000",
     *         takeProfit: "30000",
     *         postOnly: false,
     *         ioc: false,
     *         rpi: true,
     *         positionSide: "LONG",
     *         reduceOnly: false,
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public createCollateralLimitOrder(
        request: WhitebitApi.CreateCollateralLimitOrderRequest,
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.CreateCollateralLimitOrderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createCollateralLimitOrder(request, requestOptions));
    }

    private async __createCollateralLimitOrder(
        request: WhitebitApi.CreateCollateralLimitOrderRequest,
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.CreateCollateralLimitOrderResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/order/collateral/limit",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.CreateCollateralLimitOrderResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/order/collateral/limit",
        );
    }

    /**
     * The endpoint creates multiple collateral [limit orders](/glossary#limit-order) in a single request. Each order in the `orders` array is validated and processed individually. The `stopOnFail` parameter controls whether processing stops at the first failure or continues through all orders. The response array contains a result or error object for each submitted order, in the same order as the request.
     *
     * <Warning>
     * Rate limit: 10000 requests/10 sec.
     * </Warning>
     *
     * <Accordion title="Error Codes">
     *   - `30` - default validation error code (per-order). Also returned when `reduceOnly=true` is combined with `stopLoss` or `takeProfit`
     *   - `31` - market validation failed
     *   - `32` - amount validation failed
     *   - `33` - price validation failed
     *   - `36` - clientOrderId validation failed
     *   - `37` - `ioc=true` cannot be used with `postOnly=true` or `rpi=true`
     *   - `10` - insufficient balance to place the order
     *   - `111` - resulting position would exceed the market maximum
     *   - `112` - pending orders value would exceed the allowed maximum
     *   - `113` - position side cannot be changed while open positions or orders exist
     *   - `114` - hedge mode position side does not match (per-order; sent `BOTH` or omitted `positionSide` in hedge mode, or sent `LONG`/`SHORT` in one-way mode)
     *   - `115` - order would open a position in the opposite direction (one-way mode)
     *   - `116` - reduce-only validation failed (no position exists or order side matches position direction). For bulk orders, this error appears per-order inside the response array.
     * </Accordion>
     *
     * @param {WhitebitApi.CreateCollateralBulkOrderRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.createCollateralBulkOrder({
     *         orders: [{
     *                 market: "BTC_PERP",
     *                 side: "buy",
     *                 amount: "0.02",
     *                 price: "40000",
     *                 clientOrderId: "",
     *                 postOnly: false,
     *                 ioc: false,
     *                 rpi: true,
     *                 positionSide: "LONG",
     *                 reduceOnly: false
     *             }, {
     *                 market: "BTC_USDT",
     *                 side: "sell",
     *                 amount: "0.0001",
     *                 price: "41000",
     *                 clientOrderId: "",
     *                 postOnly: false,
     *                 ioc: false,
     *                 rpi: true,
     *                 positionSide: "LONG",
     *                 reduceOnly: true
     *             }, {
     *                 market: "ETH_BTC",
     *                 side: "sell",
     *                 amount: "0.02",
     *                 price: "0.030",
     *                 clientOrderId: "",
     *                 postOnly: false,
     *                 ioc: false,
     *                 rpi: true,
     *                 positionSide: "LONG",
     *                 reduceOnly: false
     *             }],
     *         stopOnFail: true,
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public createCollateralBulkOrder(
        request: WhitebitApi.CreateCollateralBulkOrderRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.CreateCollateralBulkOrderResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__createCollateralBulkOrder(request, requestOptions));
    }

    private async __createCollateralBulkOrder(
        request: WhitebitApi.CreateCollateralBulkOrderRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.CreateCollateralBulkOrderResponseItem[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/order/collateral/bulk",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.CreateCollateralBulkOrderResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/order/collateral/bulk",
        );
    }

    /**
     * The endpoint creates a [market order](/glossary#market-order) using [collateral balance](/glossary#balance-collateral). The order executes immediately at the best available market price. Optionally attach `stopLoss` and `takeProfit` prices to create an [OTO](/glossary#one-triggers-the-other-oto) order that activates after the market order fills.
     *
     * <Warning>
     * Rate limit: 10000 requests/10 sec.
     * </Warning>
     *
     * <Accordion title="Error Codes">
     *   - `30` - default validation error code. Also returned when `reduceOnly=true` is combined with `stopLoss` or `takeProfit`
     *   - `31` - market validation failed
     *   - `32` - amount validation failed
     *   - `36` - clientOrderId validation failed
     *   - `10` - insufficient balance to place the order
     *   - `111` - resulting position would exceed the market maximum
     *   - `112` - pending orders value would exceed the allowed maximum
     *   - `113` - position side cannot be changed while open positions or orders exist
     *   - `114` - hedge mode position side does not match (sent `BOTH` or omitted `positionSide` in hedge mode, or sent `LONG`/`SHORT` in one-way mode)
     *   - `115` - order would open a position in the opposite direction (one-way mode)
     *   - `116` - reduce-only validation failed (no position exists or order side matches position direction)
     * </Accordion>
     *
     * @param {WhitebitApi.CreateCollateralMarketOrderRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.createCollateralMarketOrder({
     *         market: "BTC_USDT",
     *         side: "buy",
     *         amount: "0.01",
     *         clientOrderId: "order1987111",
     *         reduceOnly: false,
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public createCollateralMarketOrder(
        request: WhitebitApi.CreateCollateralMarketOrderRequest,
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.CreateCollateralMarketOrderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createCollateralMarketOrder(request, requestOptions));
    }

    private async __createCollateralMarketOrder(
        request: WhitebitApi.CreateCollateralMarketOrderRequest,
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.CreateCollateralMarketOrderResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/order/collateral/market",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.CreateCollateralMarketOrderResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/order/collateral/market",
        );
    }

    /**
     * The endpoint creates a collateral [stop-limit order](/glossary#stop-limit-order) using [collateral balance](/glossary#balance-collateral). The order remains inactive until the market price reaches `activation_price`, then places a limit order at `price`. Optionally attach `stopLoss` and `takeProfit` prices to create an [OTO](/glossary#one-triggers-the-other-oto) order that activates after the stop-limit order fills.
     *
     * <Warning>
     * Rate limit: 10000 requests/10 sec.
     * </Warning>
     *
     * <Accordion title="Error Codes">
     *   - `30` - default validation error code. Also returned when `reduceOnly=true` is combined with `stopLoss` or `takeProfit`
     *   - `31` - market validation failed
     *   - `32` - amount validation failed
     *   - `33` - price validation failed
     *   - `36` - clientOrderId validation failed
     *   - `10` - insufficient balance to place the order
     *   - `111` - resulting position would exceed the market maximum
     *   - `112` - pending orders value would exceed the allowed maximum
     *   - `113` - position side cannot be changed while open positions or orders exist
     *   - `114` - hedge mode position side does not match (sent `BOTH` or omitted `positionSide` in hedge mode, or sent `LONG`/`SHORT` in one-way mode)
     *   - `115` - order would open a position in the opposite direction (one-way mode)
     *   - `116` - reduce-only validation failed (no position exists or order side matches position direction)
     * </Accordion>
     *
     * @param {WhitebitApi.CreateCollateralStopLimitOrderRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.createCollateralStopLimitOrder({
     *         market: "BTC_USDT",
     *         side: "buy",
     *         amount: "0.001",
     *         price: "40000",
     *         activation_price: "40000",
     *         stopLoss: "30000",
     *         takeProfit: "50000",
     *         clientOrderId: "order1987111",
     *         positionSide: "LONG",
     *         reduceOnly: false,
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public createCollateralStopLimitOrder(
        request: WhitebitApi.CreateCollateralStopLimitOrderRequest,
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.CreateCollateralStopLimitOrderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createCollateralStopLimitOrder(request, requestOptions));
    }

    private async __createCollateralStopLimitOrder(
        request: WhitebitApi.CreateCollateralStopLimitOrderRequest,
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.CreateCollateralStopLimitOrderResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/order/collateral/stop-limit",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.CreateCollateralStopLimitOrderResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/order/collateral/stop-limit",
        );
    }

    /**
     * The endpoint creates a collateral trigger [market order](/glossary#market-order) using [collateral balance](/glossary#balance-collateral). The order remains inactive until the market price reaches `activation_price`, then executes immediately at the best available market price. Optionally attach `stopLoss` and `takeProfit` prices to create an [OTO](/glossary#one-triggers-the-other-oto) order that activates after the trigger market order fills.
     *
     * <Warning>
     * Rate limit: 10000 requests/10 sec.
     * </Warning>
     *
     * <Accordion title="Error Codes">
     *   - `30` - default validation error code. Also returned when `reduceOnly=true` is combined with `stopLoss` or `takeProfit`
     *   - `31` - market validation failed
     *   - `32` - amount validation failed
     *   - `36` - clientOrderId validation failed
     *   - `10` - insufficient balance to place the order
     *   - `111` - resulting position would exceed the market maximum
     *   - `112` - pending orders value would exceed the allowed maximum
     *   - `113` - position side cannot be changed while open positions or orders exist
     *   - `114` - hedge mode position side does not match (sent `BOTH` or omitted `positionSide` in hedge mode, or sent `LONG`/`SHORT` in one-way mode)
     *   - `115` - order would open a position in the opposite direction (one-way mode)
     *   - `116` - reduce-only validation failed (no position exists or order side matches position direction)
     * </Accordion>
     *
     * @param {WhitebitApi.CreateCollateralTriggerMarketOrderRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.createCollateralTriggerMarketOrder({
     *         market: "BTC_USDT",
     *         side: "buy",
     *         amount: "0.01",
     *         activation_price: "40000",
     *         clientOrderId: "order1987111",
     *         reduceOnly: false,
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public createCollateralTriggerMarketOrder(
        request: WhitebitApi.CreateCollateralTriggerMarketOrderRequest,
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.CreateCollateralTriggerMarketOrderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createCollateralTriggerMarketOrder(request, requestOptions));
    }

    private async __createCollateralTriggerMarketOrder(
        request: WhitebitApi.CreateCollateralTriggerMarketOrderRequest,
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.CreateCollateralTriggerMarketOrderResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/order/collateral/trigger-market",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.CreateCollateralTriggerMarketOrderResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/order/collateral/trigger-market",
        );
    }

    /**
     * The endpoint returns a collateral account summary including total equity, used margin, free margin, unrealized profit and loss, and the current leverage level. The `marginFraction` field indicates the ratio of used margin to total equity.
     *
     * <Warning>
     * Rate limit: 12000 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.CollateralAccountSummaryRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.collateralAccountSummary({
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public collateralAccountSummary(
        request: WhitebitApi.CollateralAccountSummaryRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.CollateralAccountSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__collateralAccountSummary(request, requestOptions));
    }

    private async __collateralAccountSummary(
        request: WhitebitApi.CollateralAccountSummaryRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.CollateralAccountSummaryResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/collateral-account/summary",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.CollateralAccountSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/collateral-account/summary",
        );
    }

    /**
     * The endpoint returns all open [collateral](/glossary#balance-collateral) positions for the authenticated account. Each position includes entry price, unrealized PnL, margin allocation, liquidation price, and take-profit/stop-loss configuration. Use the optional `market` parameter to filter results to a single trading pair.
     *
     * <Warning>
     * Rate limit: 12000 requests/10 sec.
     * </Warning>
     *
     * <Accordion title="Error Codes">
     *   - `30` - default validation error code (returned when the optional `market` filter is malformed)
     * </Accordion>
     *
     * @param {WhitebitApi.GetOpenPositionsRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.getOpenPositions({
     *         market: "BTC_USDT",
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public getOpenPositions(
        request: WhitebitApi.GetOpenPositionsRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetOpenPositionsResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__getOpenPositions(request, requestOptions));
    }

    private async __getOpenPositions(
        request: WhitebitApi.GetOpenPositionsRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetOpenPositionsResponseItem[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/collateral-account/positions/open",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetOpenPositionsResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/collateral-account/positions/open",
        );
    }

    /**
     * The endpoint closes an open [collateral](/glossary#balance-collateral) position at the current market price. The system places a market order in the opposite direction to fully close the specified position. Any attached take-profit or stop-loss orders are cancelled automatically.
     *
     * <Warning>
     * Rate limit: 10000 requests/10 sec.
     * </Warning>
     *
     * <Accordion title="Error Codes">
     *   - `30` - default validation error code (for example, a missing or malformed `positionId` or `market`)
     *   - `104` - position not found. Returned whether the `positionId` does not exist, the position is already closed, or it is not owned by the account — these cases are not distinguished
     *   - `10` - insufficient balance to fund the closing market order
     * </Accordion>
     *
     * @param {WhitebitApi.ClosePositionRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.InternalServerError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.closePosition({
     *         positionId: 123,
     *         positionSide: "LONG",
     *         market: "BTC_USDT",
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public closePosition(
        request: WhitebitApi.ClosePositionRequest,
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__closePosition(request, requestOptions));
    }

    private async __closePosition(
        request: WhitebitApi.ClosePositionRequest,
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/collateral-account/position/close",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new WhitebitApi.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/collateral-account/position/close",
        );
    }

    /**
     * The endpoint returns the history of [collateral](/glossary#balance-collateral) position state changes for the authenticated account. Each record represents a position event (open, partial close, full close, or liquidation) and includes the order details that triggered the change. Use the optional `market` and `positionId` parameters to filter results.
     *
     * <Warning>
     * Rate limit: 12000 requests/10 sec.
     * </Warning>
     *
     * <Accordion title="Error Codes">
     *   - `30` - default validation error code (invalid pagination — `limit` outside 1–100 or negative `offset` — or a date filter that violates `startDate` ≤ `endDate` ≤ `now + 1s`)
     * </Accordion>
     *
     * <Note>
     * **Date filter window:** `startDate` and `endDate` are optional and have no defaults. The endpoint enforces no maximum window and no lower-bound floor. The only ordering constraint is `startDate` ≤ `endDate` ≤ `now + 1s` — requests that violate the ordering are rejected with a validation error.
     * </Note>
     *
     * <Warning>
     * **Breaking change — April 29, 2026.** The `positionSide` field is no longer returned in the Position History response. Use `side` (same enum: `LONG`, `SHORT`, `BOTH`) plus `isHedge` (boolean) instead. Integrations reading `positionSide` from `/api/v4/collateral-account/positions/history` must migrate before consuming the new response.
     * </Warning>
     *
     * @param {WhitebitApi.GetPositionsHistoryRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.InternalServerError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.getPositionsHistory({
     *         market: "BTC_USDT",
     *         positionId: 1,
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public getPositionsHistory(
        request: WhitebitApi.GetPositionsHistoryRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetPositionsHistoryResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__getPositionsHistory(request, requestOptions));
    }

    private async __getPositionsHistory(
        request: WhitebitApi.GetPositionsHistoryRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetPositionsHistoryResponseItem[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/collateral-account/positions/history",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetPositionsHistoryResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new WhitebitApi.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/collateral-account/positions/history",
        );
    }

    /**
     * The endpoint returns one aggregated profit-and-loss record per closed [collateral](/glossary#balance-collateral) position for the authenticated account — the same closed-position PNL the trading terminal shows. Records are sorted by `closeDate` descending, then `positionId` descending. Use the optional `startDate` and `endDate` parameters to narrow the window; the filter applies to the position close time.
     *
     * <Note>
     * The endpoint supports pagination via `limit` (default: 50, max: 100) and `offset` (default: 0); the sum of `offset` and `limit` must not exceed 10000. A response that returns fewer than `limit` records indicates the last page.
     * </Note>
     *
     * <Note>
     * **Close-time windowing:** a position opened before the requested window but closed inside the window returns complete aggregates — fees, average prices, and closed size cover the full position lifetime, not only the requested window.
     * </Note>
     *
     * <Warning>
     * Rate limit: 12000 requests/10 sec.
     * </Warning>
     *
     * <Accordion title="Error Codes">
     *   - `30` - default validation error code (invalid pagination — `limit` outside 1–100, or `offset` + `limit` above 10000 — or a date filter that violates `startDate` ≤ `endDate` ≤ `now + 1s`)
     * </Accordion>
     *
     * @param {WhitebitApi.GetClosedPositionsPnlRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.InternalServerError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.getClosedPositionsPnl({
     *         startDate: 1778000000,
     *         endDate: 1778100000,
     *         limit: 50,
     *         offset: 0,
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public getClosedPositionsPnl(
        request: WhitebitApi.GetClosedPositionsPnlRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetClosedPositionsPnlResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__getClosedPositionsPnl(request, requestOptions));
    }

    private async __getClosedPositionsPnl(
        request: WhitebitApi.GetClosedPositionsPnlRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetClosedPositionsPnlResponseItem[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/collateral-account/positions/closed-pnl",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetClosedPositionsPnlResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new WhitebitApi.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/collateral-account/positions/closed-pnl",
        );
    }

    /**
     * The endpoint returns the funding rate payment history for [collateral](/glossary#balance-collateral) positions. Each record includes the funding rate, settlement price, position amount, and the resulting funding payment. Use the optional `market` parameter to filter results to a single trading pair. The response supports pagination via `limit` and `offset` parameters. Results are ordered by funding time (`fundingTime`), newest first.
     *
     * <Warning>
     * Rate limit: 12000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * This endpoint supports pagination. Use `limit` (default: 100) and `offset` (default: 0) to page through results. The response does not include a `total` field — detect the last page when `records.length < limit`. An empty `records` array means you have paged past the end; receiving exactly `limit` records does not guarantee that another page exists.
     * </Note>
     *
     * <Accordion title="Error Codes">
     *   - `30` - default validation error code (invalid pagination — `limit` outside 1–100 or negative `offset`)
     *   - `31` - market validation failed (the `market` filter is unknown or not available for collateral trading)
     * </Accordion>
     *
     * @param {WhitebitApi.GetFundingHistoryRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.getFundingHistory({
     *         market: "BTC_PERP",
     *         limit: 100,
     *         offset: 0,
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public getFundingHistory(
        request: WhitebitApi.GetFundingHistoryRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetFundingHistoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getFundingHistory(request, requestOptions));
    }

    private async __getFundingHistory(
        request: WhitebitApi.GetFundingHistoryRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetFundingHistoryResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/collateral-account/funding-history",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetFundingHistoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/collateral-account/funding-history",
        );
    }

    /**
     * The endpoint changes the leverage level for the [collateral](/glossary#balance-collateral) trading account. Leverage determines the ratio of borrowed funds to collateral and directly affects margin requirements and liquidation thresholds. Accepted values: `1`, `2`, `3`, `5`, `10`, `20`, `50`, `100`.
     *
     * Each leverage level has a corresponding bracket defining the maximum position size for the tier. When a position exceeds the bracket limit, the system applies higher tiers with progressively lower leverage. Query market-specific brackets via `GET /api/v4/public/futures`.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * A market's `max_leverage` field (from `GET /api/v4/public/futures`) may be lower than `100`. Setting leverage above a market's maximum results in an error.
     * </Note>
     *
     * <Warning>
     * Changing leverage affects **all open positions** across margin and futures trading. Decreasing leverage increases margin requirements — if available funds are insufficient to support the new level, the request returns an error.
     * </Warning>
     *
     * <Accordion title="Error Codes">
     *   - `30` - invalid `leverage` value (out of range, non-integer, or wrong type). Setting leverage above a market's `max_leverage` also surfaces here as an out-of-range value
     *   - `17` - the requested leverage is valid but available balance is insufficient to support it
     *   - `113` - leverage cannot be changed while open positions or orders exist
     * </Accordion>
     *
     * @param {WhitebitApi.ChangeCollateralAccountLeverageRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.changeCollateralAccountLeverage({
     *         leverage: 5,
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public changeCollateralAccountLeverage(
        request: WhitebitApi.ChangeCollateralAccountLeverageRequest,
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.ChangeCollateralAccountLeverageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__changeCollateralAccountLeverage(request, requestOptions));
    }

    private async __changeCollateralAccountLeverage(
        request: WhitebitApi.ChangeCollateralAccountLeverageRequest,
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.ChangeCollateralAccountLeverageResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/collateral-account/leverage",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.ChangeCollateralAccountLeverageResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/collateral-account/leverage",
        );
    }

    /**
     * The endpoint returns the current [hedge mode](/glossary#hedge-mode) status for the collateral trading account. When hedge mode is enabled (`true`), the account supports simultaneous long and short positions on the same market. When disabled (`false`), the account operates in one-way mode.
     *
     * <Warning>
     * Rate limit: 12000 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.GetCollateralHedgeModeRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.InternalServerError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.getCollateralHedgeMode({
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public getCollateralHedgeMode(
        request: WhitebitApi.GetCollateralHedgeModeRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetCollateralHedgeModeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCollateralHedgeMode(request, requestOptions));
    }

    private async __getCollateralHedgeMode(
        request: WhitebitApi.GetCollateralHedgeModeRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetCollateralHedgeModeResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/collateral-account/hedge-mode",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetCollateralHedgeModeResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new WhitebitApi.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/collateral-account/hedge-mode",
        );
    }

    /**
     * The endpoint enables or disables [hedge mode](/glossary#hedge-mode) for the collateral trading account. When hedge mode is enabled (`true`), the account supports simultaneous long and short positions on the same market. When disabled (`false`), the account operates in one-way mode.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Warning>
     * Switching between one-way mode and hedge mode requires **no open positions**. Close all futures positions before toggling the mode. If the switch does not take effect immediately after closing positions, wait approximately 15 seconds and retry.
     * </Warning>
     *
     * <Accordion title="Error Codes">
     *   - `30` - default validation error code (for example, a missing or non-boolean `hedgeMode` value)
     *   - `113` - hedge mode cannot be changed while open positions or orders exist
     * </Accordion>
     *
     * @param {WhitebitApi.UpdateHedgeModeRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.InternalServerError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.updateHedgeMode({
     *         hedgeMode: true,
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public updateHedgeMode(
        request: WhitebitApi.UpdateHedgeModeRequest,
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__updateHedgeMode(request, requestOptions));
    }

    private async __updateHedgeMode(
        request: WhitebitApi.UpdateHedgeModeRequest,
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/collateral-account/hedge-mode/update",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new WhitebitApi.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/collateral-account/hedge-mode/update",
        );
    }

    /**
     * The endpoint returns the [Auto-Deleveraging (ADL)](/glossary#auto-deleveraging-adl) quantile for each perpetual market in which the authenticated account holds an open position. Each entry exposes the deleveraging-priority value for the long and short sides of the position, where `0` indicates the lowest deleveraging priority and `4` indicates the highest. The endpoint returns an empty array when the account has no perpetual positions.
     *
     * <Warning>
     * Rate limit: 12000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * Only perpetual markets (markets with the `_PERP` suffix) are returned. Spot and margin markets are not included.
     * </Note>
     *
     * @param {WhitebitApi.GetCollateralAccountAdlQuantileRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.getCollateralAccountAdlQuantile({
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public getCollateralAccountAdlQuantile(
        request: WhitebitApi.GetCollateralAccountAdlQuantileRequest,
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetCollateralAccountAdlQuantileResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__getCollateralAccountAdlQuantile(request, requestOptions));
    }

    private async __getCollateralAccountAdlQuantile(
        request: WhitebitApi.GetCollateralAccountAdlQuantileRequest,
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetCollateralAccountAdlQuantileResponseItem[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/collateral-account/adl-quantile",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetCollateralAccountAdlQuantileResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/collateral-account/adl-quantile",
        );
    }

    /**
     * The endpoint returns active (unexecuted) conditional orders for the authenticated account. Conditional orders include [OCO](/glossary#one-cancels-the-other-oco) and [OTO](/glossary#one-triggers-the-other-oto) types. The response uses polymorphic structure — each record contains a `type` field (`oco` or `oto`) that determines the record shape. Use the optional `market` parameter to filter results.
     *
     * <Warning>
     * Rate limit: 12000 requests/10 sec.
     * </Warning>
     *
     * <Accordion title="Error Codes">
     *   - `30` - default validation error code (invalid pagination — `limit` outside 1–100 or negative `offset`)
     *   - `31` - market validation failed (the `market` filter is unknown or not available for collateral trading)
     * </Accordion>
     *
     * @param {WhitebitApi.GetConditionalOrdersRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.getConditionalOrders({
     *         market: "BTC_USDT",
     *         offset: 0,
     *         limit: 100
     *     })
     */
    public getConditionalOrders(
        request: WhitebitApi.GetConditionalOrdersRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetConditionalOrdersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getConditionalOrders(request, requestOptions));
    }

    private async __getConditionalOrders(
        request: WhitebitApi.GetConditionalOrdersRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetConditionalOrdersResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/conditional-orders",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetConditionalOrdersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/conditional-orders");
    }

    /**
     * The endpoint returns active (unexecuted) [OCO](/glossary#one-cancels-the-other-oco) orders for the authenticated account. Each OCO order contains a `stop_loss` and `take_profit` leg. When one leg executes, the system cancels the other automatically. Use the optional `market` parameter to filter results.
     *
     * <Warning>
     * Rate limit: 12000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * This endpoint supports pagination. Use `limit` (default: 50) and `offset` (default: 0) to page through results. The response does not include a `total` field — detect the last page when fewer than `limit` OCO orders are returned. An empty array means you have paged past the end; receiving exactly `limit` orders does not guarantee that another page exists.
     * </Note>
     *
     * <Accordion title="Error Codes">
     *   - `30` - default validation error code (invalid pagination — `limit` outside 1–100 or negative `offset`)
     *   - `31` - market validation failed (the `market` filter is unknown or not available for collateral trading)
     * </Accordion>
     *
     * @param {WhitebitApi.GetOcoOrdersRequest} request
     * @param {CollateralTradingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.collateralTrading.getOcoOrders({
     *         market: "BTC_USDT",
     *         offset: 0,
     *         limit: 100
     *     })
     */
    public getOcoOrders(
        request: WhitebitApi.GetOcoOrdersRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetOcoOrdersResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__getOcoOrders(request, requestOptions));
    }

    private async __getOcoOrders(
        request: WhitebitApi.GetOcoOrdersRequest = {},
        requestOptions?: CollateralTradingClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetOcoOrdersResponseItem[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/oco-orders",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetOcoOrdersResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
[...]
