// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WhitebitApi from "../../../index.js";

export declare namespace DepositClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Cryptocurrency and fiat deposit operations
 */
export class DepositClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DepositClient.Options>;

    constructor(options: DepositClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The endpoint retrieves a deposit address of the cryptocurrency.
     *
     * <Accordion title="Errors">
     * ```json
     * {
     *   "code": 0,
     *   "message": "Validation failed",
     *   "errors": {
     *     "ticker": ["The selected ticker is invalid."]
     *   }
     * }
     * ```
     *
     * ```json
     * {
     *   "code": 0,
     *   "message": "Validation failed",
     *   "errors": {
     *     "network": ["The selected network is invalid."]
     *   }
     * }
     * ```
     *
     * ```json
     * {
     *   "code": 1,
     *   "message": "Inner validation failed",
     *   "errors": {
     *     "ticker": ["Currency is not depositable"]
     *   }
     * }
     * ```
     * </Accordion>
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.GetDepositAddressRequest} request
     * @param {DepositClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.deposit.getDepositAddress({
     *         ticker: "BTC",
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public getDepositAddress(
        request: WhitebitApi.GetDepositAddressRequest,
        requestOptions?: DepositClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetDepositAddressResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDepositAddress(request, requestOptions));
    }

    private async __getDepositAddress(
        request: WhitebitApi.GetDepositAddressRequest,
        requestOptions?: DepositClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetDepositAddressResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/address",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetDepositAddressResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/main-account/address");
    }

    /**
     * The endpoint retrieves a deposit url of the [fiat](/glossary#fiat) invoice.
     *
     * The endpoint works on demand. Contact WhiteBIT support and provide the API key to get access to the functionality.
     *
     * <Accordion title="Errors">
     * ```json
     * {
     *   "code": 0,
     *   "message": "Validation failed",
     *   "errors": {
     *     "amount": ["Amount is too little for deposit"]
     *   }
     * }
     * ```
     *
     * ```json
     * {
     *   "code": 0,
     *   "message": "Validation failed",
     *   "errors": {
     *     "provider": ["Cannot find currency for specified provider"]
     *   }
     * }
     * ```
     *
     * ```json
     * {
     *   "code": 0,
     *   "message": "Validation failed",
     *   "errors": {
     *     "uniqueId": ["The unique id has already been taken."]
     *   }
     * }
     * ```
     *
     * ```json
     * {
     *   "code": 0,
     *   "message": "Validation failed",
     *   "errors": {
     *     "amount": ["The amount must be a number."],
     *     "provider": ["The selected provider is invalid."],
     *     "ticker": ["The selected ticker is invalid."]
     *   }
     * }
     * ```
     *
     * ```json
     * {
     *   "code": 10,
     *   "message": "Failed to generate deposit url"
     * }
     * ```
     *
     * ```json
     * {
     *   "code": 0,
     *   "message": "Validation failed",
     *   "errors": {
     *     "amount": ["The amount field is required."],
     *     "provider": ["The provider field is required."],
     *     "ticker": ["The ticker field is required."],
     *     "uniqueId": ["The unique id field is required."]
     *   }
     * }
     * ```
     *
     * ```json
     * {
     *   "code": 0,
     *   "message": "Validation failed",
     *   "errors": {
     *     "successLink": [
     *       "Your domain is incorrect. Please contact support for more details"
     *     ],
     *     "failureLink": [
     *       "Your domain is incorrect. Please contact support for more details"
     *     ]
     *   }
     * }
     * ```
     *
     * ```json
     * {
     *   "success": false,
     *   "message": "You don't have permission to use this endpoint. Please contact support for more details",
     *   "code": 0
     * }
     * ```
     *
     * ```json
     * {
     *   "code": 0,
     *   "message": "Validation failed",
     *   "errors": {
     *     "successLink": ["Uri domain must have only https scheme"],
     *     "failureLink": ["Uri domain must have only https scheme"]
     *   }
     * }
     * ```
     * </Accordion>
     *
     * <Warning>
     * When using VISAMASTER as [provider](/glossary#provider), pass the [referer header](https://developer.mozilla.org/ru/docs/Web/HTTP/Headers/Referer) when opening the invoice link (e.g. when opening https://someaddress.com). If the header is missing (e.g. when opening the link from a Telegram message), the browser is redirected to the WhiteBIT homepage
     * </Warning>
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.GetFiatDepositUrlRequest} request
     * @param {DepositClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.ServiceUnavailableError}
     *
     * @example
     *     await client.deposit.getFiatDepositUrl({
     *         ticker: "UAH",
     *         provider: "VISAMASTER",
     *         amount: "100",
     *         unique_id: "{{generateID}}",
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     *
     * @example
     *     await client.deposit.getFiatDepositUrl({
     *         ticker: "UAH",
     *         provider: "VISAMASTER",
     *         amount: "100",
     *         unique_id: "{{generateID}}",
     *         customer: {
     *             firstName: "John",
     *             lastName: "Doe",
     *             email: "john_doe@email.com",
     *             address: {
     *                 line1: "Martinez Campos 37",
     *                 city: "Madrid",
     *                 zipCode: "28010",
     *                 countryCode: "ES"
     *             }
     *         },
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public getFiatDepositUrl(
        request: WhitebitApi.GetFiatDepositUrlRequest,
        requestOptions?: DepositClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetFiatDepositUrlResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getFiatDepositUrl(request, requestOptions));
    }

    private async __getFiatDepositUrl(
        request: WhitebitApi.GetFiatDepositUrlRequest,
        requestOptions?: DepositClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetFiatDepositUrlResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/fiat-deposit-url",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetFiatDepositUrlResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new WhitebitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/fiat-deposit-url",
        );
    }

    /**
     * The endpoint issues a [card token](/glossary#card-token) for the specified card number.
     *
     * **Request Headers:**
     * - `Authorization`: JWT token from the [Issue JWT token](/private/http-main-v4/issue-jwt-token) response field `data.token` (**Required**)
     * - `Content-Type`: `application/json` (**Required**)
     *
     * Use the `data.token` value returned by [Issue JWT token](/private/http-main-v4/issue-jwt-token) as the `Authorization` header when calling this Fiat Gateway endpoint.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.IssueCardTokenRequest} request
     * @param {DepositClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnauthorizedError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.deposit.issueCardToken({
     *         cardNumber: "4111111111111111"
     *     })
     */
    public issueCardToken(
        request: WhitebitApi.IssueCardTokenRequest,
        requestOptions?: DepositClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__issueCardToken(request, requestOptions));
    }

    private async __issueCardToken(
        request: WhitebitApi.IssueCardTokenRequest,
        requestOptions?: DepositClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/card-token",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new WhitebitApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/card-token");
    }

    /**
     * Refund a deposit.
     *
     * The system processes refunds only for deposits with status `canceled`.
     *
     * Obtain `transactionId` from the `deposit.canceled` webhook (`uniqueId`) or from the deposit/withdraw history in the WhiteBIT interface after support confirms refund availability.
     *
     * The refund address must support the same network and asset as the original deposit. The refund address must not be a WhiteBIT address. The refund address can differ from the original deposit sender address.
     *
     * <Accordion title="Errors">
     * ```json
     * {
     *   "code": 0,
     *   "message": "Transaction not refundable"
     * }
     * ```
     *
     * ```json
     * {
     *   "code": 0,
     *   "message": "Validation failed",
     *   "errors": {
     *     "transactionId": ["The transaction id field is required."],
     *     "address": ["The address field is required."]
     *   }
     * }
     * ```
     * </Accordion>
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * <Note>
     * Refund processing does not complete instantly. Use the [refund.successful](/platform/webhook#whitebit-refund-successful) and [refund.failed](/platform/webhook#whitebit-refund-failed) webhooks to receive refund status updates.
     * </Note>
     *
     * @param {WhitebitApi.RefundDepositRequest} request
     * @param {DepositClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.deposit.refundDeposit({
     *         transaction_id: "54bffeb7-7a8f-43f8-bcd8-f14ec10fee85",
     *         address: "0x1234567890abcdef1234567890abcdef12345678",
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public refundDeposit(
        request: WhitebitApi.RefundDepositRequest,
        requestOptions?: DepositClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.RefundDepositResponse> {
        return core.HttpResponsePromise.fromPromise(this.__refundDeposit(request, requestOptions));
    }

    private async __refundDeposit(
        request: WhitebitApi.RefundDepositRequest,
        requestOptions?: DepositClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.RefundDepositResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/refund-deposit",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.RefundDepositResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/refund-deposit",
        );
    }

    /**
     * The endpoint creates a new address even when the last created address is not used. The endpoint is not available by default, contact support@whitebit.com to get permissions to use the endpoint.
     *
     * **Address types:**
     *
     * | Currency | Types               | Default |
     * |----------|---------------------|---------|
     * | BTC      | p2sh-segwit, bech32 | bech32  |
     * | LTC      | p2sh-segwit, bech32 | bech32  |
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.CreateNewAddressRequest} request
     * @param {DepositClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.deposit.createNewAddress({
     *         ticker: "XLM",
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     *
     * @example
     *     await client.deposit.createNewAddress({
     *         ticker: "USDT",
     *         network: "ERC20",
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     *
     * @example
     *     await client.deposit.createNewAddress({
     *         ticker: "BTC",
     *         type: "bech32",
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public createNewAddress(
        request: WhitebitApi.CreateNewAddressRequest,
        requestOptions?: DepositClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.CreateNewAddressResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createNewAddress(request, requestOptions));
    }

    private async __createNewAddress(
        request: WhitebitApi.CreateNewAddressRequest,
        requestOptions?: DepositClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.CreateNewAddressResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/create-new-address",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.CreateNewAddressResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/create-new-address",
        );
    }
}
