// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WhitebitApi from "../../../index.js";

export declare namespace SubAccountApiKeysClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Sub-account API key management
 */
export class SubAccountApiKeysClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SubAccountApiKeysClient.Options>;

    constructor(options: SubAccountApiKeysClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The endpoint creates a new API key for a [sub-account](/glossary#sub-account).
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.CreateSubAccountApiKeyRequest} request
     * @param {SubAccountApiKeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.subAccountApiKeys.createSubAccountApiKey({
     *         type: 1,
     *         subAccountId: "8e667b4a-0b71-4988-8af5-9474dbfaeb51"
     *     })
     */
    public createSubAccountApiKey(
        request: WhitebitApi.CreateSubAccountApiKeyRequest,
        requestOptions?: SubAccountApiKeysClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.SubAccountApiKey> {
        return core.HttpResponsePromise.fromPromise(this.__createSubAccountApiKey(request, requestOptions));
    }

    private async __createSubAccountApiKey(
        request: WhitebitApi.CreateSubAccountApiKeyRequest,
        requestOptions?: SubAccountApiKeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.SubAccountApiKey>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/api-key/create",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.SubAccountApiKey, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/sub-account/api-key/create",
        );
    }

    /**
     * The endpoint updates an existing [sub-account](/glossary#sub-account) API key.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.EditSubAccountApiKeyRequest} request
     * @param {SubAccountApiKeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.subAccountApiKeys.editSubAccountApiKey({
     *         apiKeyId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
     *         title: "Trading Bot Key",
     *         urls: [{
     *                 url: "/api/v4/main-account/withdraw",
     *                 enable: false
     *             }, {
     *                 url: "/api/v4/main-account/balance",
     *                 enable: true
     *             }]
     *     })
     */
    public editSubAccountApiKey(
        request: WhitebitApi.EditSubAccountApiKeyRequest,
        requestOptions?: SubAccountApiKeysClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__editSubAccountApiKey(request, requestOptions));
    }

    private async __editSubAccountApiKey(
        request: WhitebitApi.EditSubAccountApiKeyRequest,
        requestOptions?: SubAccountApiKeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/api-key/edit",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/sub-account/api-key/edit",
        );
    }

    /**
     * The endpoint deletes a [sub-account](/glossary#sub-account) API key.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.DeleteSubAccountApiKeyRequest} request
     * @param {SubAccountApiKeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.subAccountApiKeys.deleteSubAccountApiKey({
     *         apiKeyId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
     *     })
     */
    public deleteSubAccountApiKey(
        request: WhitebitApi.DeleteSubAccountApiKeyRequest,
        requestOptions?: SubAccountApiKeysClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__deleteSubAccountApiKey(request, requestOptions));
    }

    private async __deleteSubAccountApiKey(
        request: WhitebitApi.DeleteSubAccountApiKeyRequest,
        requestOptions?: SubAccountApiKeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/api-key/delete",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/sub-account/api-key/delete",
        );
    }

    /**
     * The endpoint retrieves a list of API keys for a [sub-account](/glossary#sub-account).
     * Note: For security reasons, the apiSecret field returns an empty string.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.ListSubAccountApiKeysRequest} request
     * @param {SubAccountApiKeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.subAccountApiKeys.listSubAccountApiKeys()
     */
    public listSubAccountApiKeys(
        request: WhitebitApi.ListSubAccountApiKeysRequest = {},
        requestOptions?: SubAccountApiKeysClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.ListSubAccountApiKeysResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listSubAccountApiKeys(request, requestOptions));
    }

    private async __listSubAccountApiKeys(
        request: WhitebitApi.ListSubAccountApiKeysRequest = {},
        requestOptions?: SubAccountApiKeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.ListSubAccountApiKeysResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/api-key/list",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.ListSubAccountApiKeysResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/sub-account/api-key/list",
        );
    }

    /**
     * The endpoint resets (regenerates) an existing [sub-account](/glossary#sub-account) API key.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.ResetSubAccountApiKeyRequest} request
     * @param {SubAccountApiKeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.subAccountApiKeys.resetSubAccountApiKey({
     *         apiKeyId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
     *     })
     */
    public resetSubAccountApiKey(
        request: WhitebitApi.ResetSubAccountApiKeyRequest,
        requestOptions?: SubAccountApiKeysClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__resetSubAccountApiKey(request, requestOptions));
    }

    private async __resetSubAccountApiKey(
        request: WhitebitApi.ResetSubAccountApiKeyRequest,
        requestOptions?: SubAccountApiKeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/api-key/reset",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/sub-account/api-key/reset",
        );
    }

    /**
     * The endpoint retrieves the list of IP addresses allowed for a [sub-account](/glossary#sub-account) API key.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.ListSubAccountApiKeyIpAddressesRequest} request
     * @param {SubAccountApiKeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.subAccountApiKeys.listSubAccountApiKeyIpAddresses({
     *         apiKeyId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
     *     })
     */
    public listSubAccountApiKeyIpAddresses(
        request: WhitebitApi.ListSubAccountApiKeyIpAddressesRequest,
        requestOptions?: SubAccountApiKeysClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.ListSubAccountApiKeyIpAddressesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listSubAccountApiKeyIpAddresses(request, requestOptions));
    }

    private async __listSubAccountApiKeyIpAddresses(
        request: WhitebitApi.ListSubAccountApiKeyIpAddressesRequest,
        requestOptions?: SubAccountApiKeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.ListSubAccountApiKeyIpAddressesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/api-key/ip-address/list",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.ListSubAccountApiKeyIpAddressesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/sub-account/api-key/ip-address/list",
        );
    }

    /**
     * The endpoint adds a new IP address to the allowed list for a [sub-account](/glossary#sub-account) API key.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.CreateSubAccountApiKeyIpAddressRequest} request
     * @param {SubAccountApiKeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.subAccountApiKeys.createSubAccountApiKeyIpAddress({
     *         apiKeyId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
     *         ip: "192.168.1.100"
     *     })
     */
    public createSubAccountApiKeyIpAddress(
        request: WhitebitApi.CreateSubAccountApiKeyIpAddressRequest,
        requestOptions?: SubAccountApiKeysClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.CreateSubAccountApiKeyIpAddressResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createSubAccountApiKeyIpAddress(request, requestOptions));
    }

    private async __createSubAccountApiKeyIpAddress(
        request: WhitebitApi.CreateSubAccountApiKeyIpAddressRequest,
        requestOptions?: SubAccountApiKeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.CreateSubAccountApiKeyIpAddressResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/api-key/ip-address/create",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.CreateSubAccountApiKeyIpAddressResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/sub-account/api-key/ip-address/create",
        );
    }

    /**
     * The endpoint removes an IP address from the allowed list for a [sub-account](/glossary#sub-account) API key.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.DeleteSubAccountApiKeyIpAddressRequest} request
     * @param {SubAccountApiKeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.subAccountApiKeys.deleteSubAccountApiKeyIpAddress({
     *         apiKeyId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
     *         ip: "192.168.1.100"
     *     })
     */
    public deleteSubAccountApiKeyIpAddress(
        request: WhitebitApi.DeleteSubAccountApiKeyIpAddressRequest,
        requestOptions?: SubAccountApiKeysClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.DeleteSubAccountApiKeyIpAddressResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteSubAccountApiKeyIpAddress(request, requestOptions));
    }

    private async __deleteSubAccountApiKeyIpAddress(
        request: WhitebitApi.DeleteSubAccountApiKeyIpAddressRequest,
        requestOptions?: SubAccountApiKeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.DeleteSubAccountApiKeyIpAddressResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/sub-account/api-key/ip-address/delete",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.DeleteSubAccountApiKeyIpAddressResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/sub-account/api-key/ip-address/delete",
        );
    }
}
