// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WhitebitApi from "../../../index.js";

export declare namespace CryptoLendingFlexClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Flexible crypto lending plans
 */
export class CryptoLendingFlexClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CryptoLendingFlexClient.Options>;

    constructor(options: CryptoLendingFlexClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve list of active [Flex Plans](/glossary#crypto-lending).
     *
     * Available after September 22, 2025.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.GetFlexPlansRequest} request
     * @param {CryptoLendingFlexClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.cryptoLendingFlex.getFlexPlans({
     *         limit: 50,
     *         offset: 0,
     *         ticker: "USDT",
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public getFlexPlans(
        request: WhitebitApi.GetFlexPlansRequest,
        requestOptions?: CryptoLendingFlexClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.FlexPlan[]> {
        return core.HttpResponsePromise.fromPromise(this.__getFlexPlans(request, requestOptions));
    }

    private async __getFlexPlans(
        request: WhitebitApi.GetFlexPlansRequest,
        requestOptions?: CryptoLendingFlexClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.FlexPlan[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/smart-flex/plans",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.FlexPlan[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/smart-flex/plans",
        );
    }

    /**
     * Retrieve user's investment portfolio with optional filtering.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.GetUserFlexInvestmentsRequest} request
     * @param {CryptoLendingFlexClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.cryptoLendingFlex.getUserFlexInvestments({
     *         limit: 100,
     *         offset: 0,
     *         ticker: "USDT",
     *         plan: "8f2e9d3c-1a4b-4c2d-9e5f-6a7b8c9d0e1f",
     *         investment: "invest_id_123",
     *         investmentStatus: 1,
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public getUserFlexInvestments(
        request: WhitebitApi.GetUserFlexInvestmentsRequest,
        requestOptions?: CryptoLendingFlexClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetUserFlexInvestmentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getUserFlexInvestments(request, requestOptions));
    }

    private async __getUserFlexInvestments(
        request: WhitebitApi.GetUserFlexInvestmentsRequest,
        requestOptions?: CryptoLendingFlexClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetUserFlexInvestmentsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/smart-flex/investments",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetUserFlexInvestmentsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/smart-flex/investments",
        );
    }

    /**
     * Retrieve complete investment operations history with advanced filtering.
     *
     * **Available Action Types:**
     * - 1: INVEST - Investment creation
     * - 2: REINVEST - Automatic reinvestment
     * - 3: WITHDRAW_FROM_INVESTMENT - Partial withdrawal
     * - 4: DAILY_EARNING - Daily earnings
     * - 5: CLOSE_INVESTMENT - Investment closure
     * - 6: OPEN_INVESTMENT - Investment opening
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.GetFlexInvestmentHistoryRequest} request
     * @param {CryptoLendingFlexClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.cryptoLendingFlex.getFlexInvestmentHistory({
     *         limit: 50,
     *         offset: 0,
     *         plan: "8f2e9d3c-1a4b-4c2d-9e5f-6a7b8c9d0e1f",
     *         investment: "inv_123",
     *         transaction: "tx_456",
     *         dateFrom: 1640995200,
     *         dateTo: 1641081600,
     *         actionTypes: [1, 2, 4],
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public getFlexInvestmentHistory(
        request: WhitebitApi.GetFlexInvestmentHistoryRequest,
        requestOptions?: CryptoLendingFlexClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetFlexInvestmentHistoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getFlexInvestmentHistory(request, requestOptions));
    }

    private async __getFlexInvestmentHistory(
        request: WhitebitApi.GetFlexInvestmentHistoryRequest,
        requestOptions?: CryptoLendingFlexClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetFlexInvestmentHistoryResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/smart-flex/investments/history",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetFlexInvestmentHistoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/smart-flex/investments/history",
        );
    }

    /**
     * Retrieve investment earnings history (ONLY DAILY_EARNING operations).
     *
     * **Note:** The endpoint automatically filters to show ONLY DAILY_EARNING operations (type 4).
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.GetFlexPaymentHistoryRequest} request
     * @param {CryptoLendingFlexClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.cryptoLendingFlex.getFlexPaymentHistory({
     *         limit: 50,
     *         offset: 0,
     *         plan: "8f2e9d3c-1a4b-4c2d-9e5f-6a7b8c9d0e1f",
     *         investment: "inv_123",
     *         transaction: "tx_456",
     *         dateFrom: 1640995200,
     *         dateTo: 1641081600,
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public getFlexPaymentHistory(
        request: WhitebitApi.GetFlexPaymentHistoryRequest,
        requestOptions?: CryptoLendingFlexClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetFlexPaymentHistoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getFlexPaymentHistory(request, requestOptions));
    }

    private async __getFlexPaymentHistory(
        request: WhitebitApi.GetFlexPaymentHistoryRequest,
        requestOptions?: CryptoLendingFlexClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetFlexPaymentHistoryResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/smart-flex/investments/payment-history",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetFlexPaymentHistoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/smart-flex/investments/payment-history",
        );
    }

    /**
     * Create new investment in a Flex plan.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.CreateFlexInvestmentRequest} request
     * @param {CryptoLendingFlexClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.cryptoLendingFlex.createFlexInvestment({
     *         plan: "8f2e9d3c-1a4b-4c2d-9e5f-6a7b8c9d0e1f",
     *         amount: "1000.500000",
     *         withReinvest: true,
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public createFlexInvestment(
        request: WhitebitApi.CreateFlexInvestmentRequest,
        requestOptions?: CryptoLendingFlexClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.CreateFlexInvestmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createFlexInvestment(request, requestOptions));
    }

    private async __createFlexInvestment(
        request: WhitebitApi.CreateFlexInvestmentRequest,
        requestOptions?: CryptoLendingFlexClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.CreateFlexInvestmentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/smart-flex/investments/invest",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.CreateFlexInvestmentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/smart-flex/investments/invest",
        );
    }

    /**
     * Withdraw specified amount from user's investment.
     *
     * **Note:** Plan must be active and accessible to user.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.WithdrawFromFlexInvestmentRequest} request
     * @param {CryptoLendingFlexClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.cryptoLendingFlex.withdrawFromFlexInvestment({
     *         plan: "8f2e9d3c-1a4b-4c2d-9e5f-6a7b8c9d0e1f",
     *         amount: "500.250000",
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public withdrawFromFlexInvestment(
        request: WhitebitApi.WithdrawFromFlexInvestmentRequest,
        requestOptions?: CryptoLendingFlexClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.WithdrawFromFlexInvestmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__withdrawFromFlexInvestment(request, requestOptions));
    }

    private async __withdrawFromFlexInvestment(
        request: WhitebitApi.WithdrawFromFlexInvestmentRequest,
        requestOptions?: CryptoLendingFlexClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.WithdrawFromFlexInvestmentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/smart-flex/investments/withdraw",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.WithdrawFromFlexInvestmentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/smart-flex/investments/withdraw",
        );
    }

    /**
     * Completely close investment and withdraw all funds.
     *
     * **Validation Rules:**
     * - plan: required, string, UUID format, must exist
     * - Investment must be ACTIVE
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.CloseFlexInvestmentRequest} request
     * @param {CryptoLendingFlexClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.cryptoLendingFlex.closeFlexInvestment({
     *         plan: "8f2e9d3c-1a4b-4c2d-9e5f-6a7b8c9d0e1f",
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public closeFlexInvestment(
        request: WhitebitApi.CloseFlexInvestmentRequest,
        requestOptions?: CryptoLendingFlexClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.CloseFlexInvestmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__closeFlexInvestment(request, requestOptions));
    }

    private async __closeFlexInvestment(
        request: WhitebitApi.CloseFlexInvestmentRequest,
        requestOptions?: CryptoLendingFlexClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.CloseFlexInvestmentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/smart-flex/investments/close",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.CloseFlexInvestmentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/smart-flex/investments/close",
        );
    }

    /**
     * Enable/disable automatic reinvestment for user's investment.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.UpdateFlexAutoReinvestmentRequest} request
     * @param {CryptoLendingFlexClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.cryptoLendingFlex.updateFlexAutoReinvestment({
     *         plan: "8f2e9d3c-1a4b-4c2d-9e5f-6a7b8c9d0e1f",
     *         enabled: true,
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public updateFlexAutoReinvestment(
        request: WhitebitApi.UpdateFlexAutoReinvestmentRequest,
        requestOptions?: CryptoLendingFlexClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.UpdateFlexAutoReinvestmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateFlexAutoReinvestment(request, requestOptions));
    }

    private async __updateFlexAutoReinvestment(
        request: WhitebitApi.UpdateFlexAutoReinvestmentRequest,
        requestOptions?: CryptoLendingFlexClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.UpdateFlexAutoReinvestmentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/smart-flex/investments/auto-invest",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.UpdateFlexAutoReinvestmentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/smart-flex/investments/auto-invest",
        );
    }
}
