// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WhitebitApi from "../../../index.js";

export declare namespace MiningPoolClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Mining pool operations
 */
export class MiningPoolClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MiningPoolClient.Options>;

    constructor(options: MiningPoolClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The endpoint returns rewards received from mining.
     * Results are ordered by reward date, newest first.
     *
     * The response does not include a `total` field. Detect the last page when
     * `data.length < limit`.
     *
     * The `offset` parameter is capped at 10000. To paginate reward histories
     * beyond that, window the request by `from` and `to` (Unix timestamps).
     *
     * <Note>
     * The `account` filter is not validated at the request layer. An unknown or
     * not-owned account name is treated as an empty filter and returns HTTP `200`
     * with an empty `data` array — the same response as a valid account with no
     * rewards in the requested window. An account without mining access also
     * returns empty data, so an empty response does not distinguish "no mining
     * access" from "no rewards in range."
     * </Note>
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.GetMiningRewardsRequest} request
     * @param {MiningPoolClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.miningPool.getMiningRewards()
     */
    public getMiningRewards(
        request: WhitebitApi.GetMiningRewardsRequest = {},
        requestOptions?: MiningPoolClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetMiningRewardsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMiningRewards(request, requestOptions));
    }

    private async __getMiningRewards(
        request: WhitebitApi.GetMiningRewardsRequest = {},
        requestOptions?: MiningPoolClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetMiningRewardsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/mining/rewards",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.GetMiningRewardsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/mining/rewards");
    }

    /**
     * The endpoint returns hashrate of mining pool account.
     *
     * <Note>
     * There is no dedicated "mining not enabled" error. An account that is
     * administratively disabled for mining returns HTTP `200` with empty data
     * rather than an error.
     * </Note>
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.GetMiningHashrateRequest} request
     * @param {MiningPoolClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.miningPool.getMiningHashrate({
     *         account: "miner123"
     *     })
     */
    public getMiningHashrate(
        request: WhitebitApi.GetMiningHashrateRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetMiningHashrateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMiningHashrate(request, requestOptions));
    }

    private async __getMiningHashrate(
        request: WhitebitApi.GetMiningHashrateRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetMiningHashrateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/mining/hashrate",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetMiningHashrateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/mining/hashrate");
    }

    /**
     * Returns the current payout destination setting for a specific mining account belonging to the authenticated user.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.GetMiningPayoutDestinationRequest} request
     * @param {MiningPoolClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.miningPool.getMiningPayoutDestination({
     *         accountName: "my_miner_01"
     *     })
     */
    public getMiningPayoutDestination(
        request: WhitebitApi.GetMiningPayoutDestinationRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetMiningPayoutDestinationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMiningPayoutDestination(request, requestOptions));
    }

    private async __getMiningPayoutDestination(
        request: WhitebitApi.GetMiningPayoutDestinationRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetMiningPayoutDestinationResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/mining/payout-destination",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetMiningPayoutDestinationResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/mining/payout-destination",
        );
    }

    /**
     * Updates the payout destination for a specific mining account belonging to the authenticated user. Can be set to main balance or an external BTC address.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.SetMiningPayoutDestinationRequest} request
     * @param {MiningPoolClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.miningPool.setMiningPayoutDestination({
     *         accountName: "my_miner_01",
     *         destination: "main_balance"
     *     })
     */
    public setMiningPayoutDestination(
        request: WhitebitApi.SetMiningPayoutDestinationRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.SetMiningPayoutDestinationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__setMiningPayoutDestination(request, requestOptions));
    }

    private async __setMiningPayoutDestination(
        request: WhitebitApi.SetMiningPayoutDestinationRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.SetMiningPayoutDestinationResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/mining/payout-destination/edit",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.SetMiningPayoutDestinationResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/mining/payout-destination/edit",
        );
    }

    /**
     * Returns fee information and stratum connection details with worker counts for a specific mining account.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.GetMiningMinerInfoRequest} request
     * @param {MiningPoolClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.miningPool.getMiningMinerInfo({
     *         account: "my_miner_01"
     *     })
     */
    public getMiningMinerInfo(
        request: WhitebitApi.GetMiningMinerInfoRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetMiningMinerInfoResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMiningMinerInfo(request, requestOptions));
    }

    private async __getMiningMinerInfo(
        request: WhitebitApi.GetMiningMinerInfoRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetMiningMinerInfoResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/mining/miners/info",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetMiningMinerInfoResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/mining/miners/info");
    }

    /**
     * Returns a paginated list of online worker names for a specific mining account.
     * Results are ordered by worker name ascending (alphabetical).
     *
     * The response does not include a `total` field. Detect the last page when
     * `data.workers.length < limit`.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.GetMiningWorkerNamesRequest} request
     * @param {MiningPoolClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.miningPool.getMiningWorkerNames({
     *         account: "my_miner_01"
     *     })
     */
    public getMiningWorkerNames(
        request: WhitebitApi.GetMiningWorkerNamesRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetMiningWorkerNamesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMiningWorkerNames(request, requestOptions));
    }

    private async __getMiningWorkerNames(
        request: WhitebitApi.GetMiningWorkerNamesRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetMiningWorkerNamesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/mining/workers/names",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetMiningWorkerNamesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/mining/workers/names");
    }

    /**
     * Returns hashrate performance history for a specific worker on a mining account.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.GetMiningWorkerHashrateRequest} request
     * @param {MiningPoolClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.miningPool.getMiningWorkerHashrate({
     *         account: "my_miner_01",
     *         worker: "worker_001"
     *     })
     */
    public getMiningWorkerHashrate(
        request: WhitebitApi.GetMiningWorkerHashrateRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetMiningWorkerHashrateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMiningWorkerHashrate(request, requestOptions));
    }

    private async __getMiningWorkerHashrate(
        request: WhitebitApi.GetMiningWorkerHashrateRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetMiningWorkerHashrateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/mining/workers/hashrate",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetMiningWorkerHashrateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/mining/workers/hashrate",
        );
    }

    /**
     * Creates a new watcher link for one or more mining accounts, granting specific permissions with a configurable expiration.
     *
     * <Note>
     * The number of active watcher links per mining account is capped (configurable
     * server-side; currently 3 by default). Exceeding the cap returns a `400` with
     * `Limit exceeded`.
     * </Note>
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.CreateMiningWatcherLinkRequest} request
     * @param {MiningPoolClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.miningPool.createMiningWatcherLink({
     *         accounts: ["my_miner_01", "my_miner_02"],
     *         name: "monitoring_link",
     *         permissions: ["dashboard", "workers"],
     *         liveUntil: "1h"
     *     })
     */
    public createMiningWatcherLink(
        request: WhitebitApi.CreateMiningWatcherLinkRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.CreateMiningWatcherLinkResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createMiningWatcherLink(request, requestOptions));
    }

    private async __createMiningWatcherLink(
        request: WhitebitApi.CreateMiningWatcherLinkRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.CreateMiningWatcherLinkResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/mining/watcher-links/create",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.CreateMiningWatcherLinkResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/mining/watcher-links/create",
        );
    }

    /**
     * Returns all active watcher links for a specific mining account.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.ListMiningWatcherLinksRequest} request
     * @param {MiningPoolClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.miningPool.listMiningWatcherLinks({
     *         account: "my_miner_01"
     *     })
     */
    public listMiningWatcherLinks(
        request: WhitebitApi.ListMiningWatcherLinksRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.ListMiningWatcherLinksResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listMiningWatcherLinks(request, requestOptions));
    }

    private async __listMiningWatcherLinks(
        request: WhitebitApi.ListMiningWatcherLinksRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.ListMiningWatcherLinksResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/mining/watcher-links/list",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.ListMiningWatcherLinksResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/mining/watcher-links/list",
        );
    }

    /**
     * Creates a new mining account for the authenticated user. The account name must be unique within the user's accounts.
     *
     * <Note>
     * The number of mining accounts per user is capped (configurable server-side).
     * Creating an account beyond the cap returns a `400` with
     * `miningPool.validation.maxAccounts`.
     * </Note>
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.CreateMiningAccountRequest} request
     * @param {MiningPoolClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.miningPool.createMiningAccount({
     *         name: "my_miner_01",
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public createMiningAccount(
        request: WhitebitApi.CreateMiningAccountRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.CreateMiningAccountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createMiningAccount(request, requestOptions));
    }

    private async __createMiningAccount(
        request: WhitebitApi.CreateMiningAccountRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.CreateMiningAccountResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/mining/accounts/create",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.CreateMiningAccountResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/mining/accounts/create",
        );
    }

    /**
     * Returns a list of mining accounts for the authenticated user. Supports filtering by account name.
     * Results are ordered by account creation time, newest first.
     *
     * The response does not include a `total` field. Detect the last page when
     * `data.length < limit`.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.GetMiningAccountsRequest} request
     * @param {MiningPoolClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.miningPool.getMiningAccounts({
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public getMiningAccounts(
        request: WhitebitApi.GetMiningAccountsRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetMiningAccountsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMiningAccounts(request, requestOptions));
    }

    private async __getMiningAccounts(
        request: WhitebitApi.GetMiningAccountsRequest,
        requestOptions?: MiningPoolClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetMiningAccountsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/mining/accounts",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetMiningAccountsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/mining/accounts");
    }
}
