// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WhitebitApi from "../../../index.js";

export declare namespace CryptoLendingFixedClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Fixed crypto lending plans
 */
export class CryptoLendingFixedClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CryptoLendingFixedClient.Options>;

    constructor(options: CryptoLendingFixedClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The endpoint retrieves all active [plans](/glossary#crypto-lending).
     *
     * <Note>
     * These endpoints are available only for B2B partner services. Fill the institutional services form to get permissions to use these endpoints.
     * </Note>
     *
     * **Note:** When target currency is different from source currency, interest amount in target currency will be calculated using `interestRatio` value.
     *
     * **Examples:**
     * - When source currency = USDT, target currency = BTC and interest ratio = 40000, interest is received in BTC and equals the USDT interest amount divided by the interest ratio (e.g. 0.000025 BTC per 1 USDT of interest).
     * - When source currency equals target currency, interest ratio equals 1.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.GetFixedPlansRequest} request
     * @param {CryptoLendingFixedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.cryptoLendingFixed.getFixedPlans({
     *         ticker: "USDT",
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public getFixedPlans(
        request: WhitebitApi.GetFixedPlansRequest,
        requestOptions?: CryptoLendingFixedClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.FixedPlan[]> {
        return core.HttpResponsePromise.fromPromise(this.__getFixedPlans(request, requestOptions));
    }

    private async __getFixedPlans(
        request: WhitebitApi.GetFixedPlansRequest,
        requestOptions?: CryptoLendingFixedClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.FixedPlan[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/smart/plans",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.FixedPlan[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/smart/plans",
        );
    }

    /**
     * The endpoint creates a new investment to the specified [invest plan](/glossary#crypto-lending).
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.CreateFixedInvestmentRequest} request
     * @param {CryptoLendingFixedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.cryptoLendingFixed.createFixedInvestment({
     *         planId: "8e667b4a-0b71-4988-8af5-9474dbfaeb51",
     *         amount: "100",
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public createFixedInvestment(
        request: WhitebitApi.CreateFixedInvestmentRequest,
        requestOptions?: CryptoLendingFixedClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.CreateFixedInvestmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createFixedInvestment(request, requestOptions));
    }

    private async __createFixedInvestment(
        request: WhitebitApi.CreateFixedInvestmentRequest,
        requestOptions?: CryptoLendingFixedClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.CreateFixedInvestmentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/smart/investment",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.CreateFixedInvestmentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/smart/investment",
        );
    }

    /**
     * The endpoint closes active investment.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.CloseFixedInvestmentRequest} request
     * @param {CryptoLendingFixedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.cryptoLendingFixed.closeFixedInvestment({
     *         id: "0d7b66ff-1909-4938-ab7a-d16d9a64dcd5",
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public closeFixedInvestment(
        request: WhitebitApi.CloseFixedInvestmentRequest,
        requestOptions?: CryptoLendingFixedClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__closeFixedInvestment(request, requestOptions));
    }

    private async __closeFixedInvestment(
        request: WhitebitApi.CloseFixedInvestmentRequest,
        requestOptions?: CryptoLendingFixedClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/smart/investment/close",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/smart/investment/close",
        );
    }

    /**
     * The endpoint retrieves an investments history.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.GetFixedInvestmentsHistoryRequest} request
     * @param {CryptoLendingFixedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.cryptoLendingFixed.getFixedInvestmentsHistory({
     *         id: "0d7b66ff-1909-4938-ab7a-d16d9a64dcd5",
     *         ticker: "USDT",
     *         status: 1,
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public getFixedInvestmentsHistory(
        request: WhitebitApi.GetFixedInvestmentsHistoryRequest,
        requestOptions?: CryptoLendingFixedClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetFixedInvestmentsHistoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getFixedInvestmentsHistory(request, requestOptions));
    }

    private async __getFixedInvestmentsHistory(
        request: WhitebitApi.GetFixedInvestmentsHistoryRequest,
        requestOptions?: CryptoLendingFixedClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetFixedInvestmentsHistoryResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/smart/investments",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetFixedInvestmentsHistoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/smart/investments",
        );
    }

    /**
     * The endpoint retrieves the history of interest payments.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.GetInterestPaymentHistoryRequest} request
     * @param {CryptoLendingFixedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     *
     * @example
     *     await client.cryptoLendingFixed.getInterestPaymentHistory({
     *         planId: "8e667b4a-0b71-4988-8af5-9474dbfaeb51",
     *         ticker: "USDT",
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public getInterestPaymentHistory(
        request: WhitebitApi.GetInterestPaymentHistoryRequest,
        requestOptions?: CryptoLendingFixedClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetInterestPaymentHistoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getInterestPaymentHistory(request, requestOptions));
    }

    private async __getInterestPaymentHistory(
        request: WhitebitApi.GetInterestPaymentHistoryRequest,
        requestOptions?: CryptoLendingFixedClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetInterestPaymentHistoryResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/smart/interest-payment-history",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetInterestPaymentHistoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/smart/interest-payment-history",
        );
    }
}
