// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WhitebitApi from "../../../index.js";

export declare namespace TransferClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Balance transfer operations
 */
export class TransferClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TransferClient.Options>;

    constructor(options: TransferClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The endpoint transfers the specified amount between [main](/glossary#balance-main), [trade](/glossary#balance-spotbalance-trade) and [collateral](/glossary#balance-collateral) balances.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * <Note>
     * Also, fiat currencies can't be transferred without KYC verification.
     * </Note>
     *
     * @param {WhitebitApi.TransferBetweenBalancesRequest} request
     * @param {TransferClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.transfer.betweenBalances({
     *         method: "deposit",
     *         ticker: "XLM",
     *         amount: "0.9",
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     *
     * @example
     *     await client.transfer.betweenBalances({
     *         from: "main",
     *         to: "spot",
     *         ticker: "XLM",
     *         amount: "0.9",
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public betweenBalances(
        request: WhitebitApi.TransferBetweenBalancesRequest,
        requestOptions?: TransferClient.RequestOptions,
    ): core.HttpResponsePromise<unknown[]> {
        return core.HttpResponsePromise.fromPromise(this.__betweenBalances(request, requestOptions));
    }

    private async __betweenBalances(
        request: WhitebitApi.TransferBetweenBalancesRequest,
        requestOptions?: TransferClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/transfer",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as unknown[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/main-account/transfer",
        );
    }
}
