// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WhitebitApi from "../../../index.js";

export declare namespace JwtClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * JWT token management
 */
export class JwtClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<JwtClient.Options>;

    constructor(options: JwtClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The endpoint issues a JWT token for the Fiat Gateway service.
     * The token is used to authenticate requests to the Fiat Gateway API.
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.IssueJwtTokenRequest} request
     * @param {JwtClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnauthorizedError}
     * @throws {@link WhitebitApi.InternalServerError}
     *
     * @example
     *     await client.jwt.issueJwtToken({
     *         request: "{{request}}",
     *         nonceWindow: false,
     *         nonce: 1594297865000
     *     })
     */
    public issueJwtToken(
        request: WhitebitApi.IssueJwtTokenRequest,
        requestOptions?: JwtClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.IssueJwtTokenResponse> {
        return core.HttpResponsePromise.fromPromise(this.__issueJwtToken(request, requestOptions));
    }

    private async __issueJwtToken(
        request: WhitebitApi.IssueJwtTokenRequest,
        requestOptions?: JwtClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.IssueJwtTokenResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/jwt",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.IssueJwtTokenResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new WhitebitApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new WhitebitApi.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/jwt");
    }

    /**
     * The V4 endpoint can be used to retrieve the WebSocket token for user.
     * The token is required to authorize WebSocket connections for private API access.
     *
     * <Accordion title="Errors">
     * ```json
     * {
     *   "code": 30,
     *   "message": "Validation failed",
     *   "errors": {
     *     "user": ["user not found"]
     *   }
     * }
     * ```
     * </Accordion>
     *
     * Beyond the error above, this endpoint can return only the [common authentication errors](/api-reference/authentication).
     *
     * <Warning>
     * Rate limit: 10 requests/60 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.GetWebSocketTokenRequest} request
     * @param {JwtClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnauthorizedError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.jwt.getWebSocketToken({
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public getWebSocketToken(
        request: WhitebitApi.GetWebSocketTokenRequest,
        requestOptions?: JwtClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetWebSocketTokenResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getWebSocketToken(request, requestOptions));
    }

    private async __getWebSocketToken(
        request: WhitebitApi.GetWebSocketTokenRequest,
        requestOptions?: JwtClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetWebSocketTokenResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/profile/websocket_token",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetWebSocketTokenResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new WhitebitApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v4/profile/websocket_token",
        );
    }
}
