// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as WhitebitApi from "../../../index.js";

export declare namespace FeesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Fee information
 */
export class FeesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FeesClient.Options>;

    constructor(options: FeesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns an array of objects containing deposit/withdrawal [fees](/glossary#fee) for the corresponding currencies.
     * Zero value in amount fields means that the setting is disabled.
     *
     * <Warning>
     * Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.GetFeesRequest} request
     * @param {FeesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.fees.getFees({
     *         request: "{{request}}",
     *         nonce: "{{nonce}}"
     *     })
     */
    public getFees(
        request: WhitebitApi.GetFeesRequest,
        requestOptions?: FeesClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.FeeInfo[]> {
        return core.HttpResponsePromise.fromPromise(this.__getFees(request, requestOptions));
    }

    private async __getFees(
        request: WhitebitApi.GetFeesRequest,
        requestOptions?: FeesClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.FeeInfo[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/fee",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.FeeInfo[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/main-account/fee");
    }
}
