// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WhitebitApi from "../../../index.js";

export declare namespace MainAccountClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Main account balance and operations
 */
export class MainAccountClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MainAccountClient.Options>;

    constructor(options: MainAccountClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The endpoint retrieves the [main balance](/glossary#balance-main) by currency [ticker](/glossary#ticker) or all balances.
     *
     * An unknown or non-existent `ticker` is not an error: the endpoint returns a zero balance (`{"main_balance": "0"}`) for it. Omitting `ticker` returns balances for every currency.
     *
     * <Accordion title="Errors">
     * ```json
     * {
     *   "code": 0,
     *   "message": "Validation failed",
     *   "errors": {
     *     "ticker": ["validation.string"]
     *   }
     * }
     * ```
     * </Accordion>
     *
     * Beyond the validation error above, this endpoint can return only the [common authentication errors](/api-reference/authentication).
     *
     * <Warning>
     *   Rate limit: 1000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * @param {WhitebitApi.GetMainBalanceRequest} request
     * @param {MainAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.mainAccount.getMainBalance({
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public getMainBalance(
        request: WhitebitApi.GetMainBalanceRequest,
        requestOptions?: MainAccountClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, WhitebitApi.GetMainBalanceResponseValue>> {
        return core.HttpResponsePromise.fromPromise(this.__getMainBalance(request, requestOptions));
    }

    private async __getMainBalance(
        request: WhitebitApi.GetMainBalanceRequest,
        requestOptions?: MainAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, WhitebitApi.GetMainBalanceResponseValue>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/balance",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Record<string, WhitebitApi.GetMainBalanceResponseValue>,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/main-account/balance");
    }

    /**
     * The endpoint retrieves the history of deposits and withdraws.
     *
     * **Deposit status codes:**
     * - `Successful` - 3, 7
     * - `Canceled` - 4, 9
     * - `Unconfirmed by user` - 5
     * - `AML frozen` - 21
     * - `Uncredited` - 22
     * - `Pending` - 15
     *
     * `Successful` (3, 7) is a final state. A credited deposit does not later transition to `AML frozen` (21) or `Uncredited` (22); those checks happen before crediting.
     *
     * **Travel Rule Deposit check status codes:**
     * - `Awaiting verification` - 27: The transaction has been frozen due to the lack of data required under the Travel Rule. The user is required to provide this data manually through the exchange interface.
     * - `Confirmation in progress` - 28: The Travel Rule data provided by the user is currently being verified by WhiteBIT.
     *
     * ⚠️ Due to regulatory requirements in Turkey and [EU](/glossary#european-economic-area-eea), the system places every inbound crypto deposit on hold (frozen) until confirming the transaction's origin. The sender must provide certain details if the transaction is from another Virtual Asset Service Provider (VASP) or verify the address if from a self-hosted wallet. The system credits deposited funds to the account only after successful verification.
     *
     * **Withdraw status codes:**
     * - `Pending` - 1, 2, 6, 10–17 (withdrawal in progress).
     * - `Successful` - 3, 7
     * - `Canceled` - 4
     * - `Unconfirmed by user` - 5
     * - `AML frozen` - 21
     * - `Partially successful` - 18
     *
     * <Warning>
     * Rate limit: 200 requests/10 sec.
     * </Warning>
     *
     * <Warning>
     * Requests with `limit` values above 100 return large payloads. Use high limits only when necessary and ensure the client application can handle large response sizes.
     * </Warning>
     *
     * <Note>
     * The API does not cache the response.
     * </Note>
     *
     * <Note>
     * Results are sorted newest first (descending by timestamp).
     * </Note>
     *
     * <Note>
     * **No date filtering:** the endpoint does not accept `startDate` / `endDate` parameters, and pagination is capped at `offset + limit ≤ 10000` (requests beyond the cap return `Offset is too big. Please use offset + limit less than 10000.`). To read more than 10,000 records, narrow the result set with the available filters (`transactionMethod`, `ticker`, `status`) and paginate within each subset; for a complete history export beyond the cap, use the Report on the History page.
     * </Note>
     *
     * @param {WhitebitApi.GetDepositWithdrawHistoryRequest} request
     * @param {MainAccountClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.BadRequestError}
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.mainAccount.getDepositWithdrawHistory({
     *         transactionMethod: 1,
     *         ticker: "BTC",
     *         limit: 100,
     *         offset: 0,
     *         status: [3, 7],
     *         request: "{{request}}",
     *         nonce: 1594297865000
     *     })
     */
    public getDepositWithdrawHistory(
        request: WhitebitApi.GetDepositWithdrawHistoryRequest,
        requestOptions?: MainAccountClient.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetDepositWithdrawHistoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDepositWithdrawHistory(request, requestOptions));
    }

    private async __getDepositWithdrawHistory(
        request: WhitebitApi.GetDepositWithdrawHistoryRequest,
        requestOptions?: MainAccountClient.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetDepositWithdrawHistoryResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/main-account/history",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetDepositWithdrawHistoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new WhitebitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v4/main-account/history");
    }
}
