// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as WhitebitApi from "../../../index.js";

export declare namespace PublicApiV4Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PublicApiV4Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<PublicApiV4Client.Options>;

    constructor(options: PublicApiV4Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The endpoint retrieves maintenance status
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.maintenanceStatus()
     */
    public maintenanceStatus(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetApiV4PublicPlatformStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__maintenanceStatus(requestOptions));
    }

    private async __maintenanceStatus(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetApiV4PublicPlatformStatusResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/platform/status",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetApiV4PublicPlatformStatusResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v4/public/platform/status",
        );
    }

    /**
     * The endpoint retrieves all information about available spot and futures markets.
     *
     * <Note>
     * The API caches the response for 1 second
     * </Note>
     *
     * <Warning>
     * Rate limit 2000 requests/10 sec.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.marketInfo()
     */
    public marketInfo(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetApiV4PublicMarketsResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__marketInfo(requestOptions));
    }

    private async __marketInfo(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetApiV4PublicMarketsResponseItem[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/markets",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetApiV4PublicMarketsResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v4/public/markets");
    }

    /**
     * The endpoint retrieves a 24-hour pricing and volume summary for each market pair available on the exchange.
     *
     * <Note>
     * The API caches the response for 1 second
     * </Note>
     *
     * <Warning>
     * Rate limit: 2000 requests/10 sec. See [Public API V4 overview](/public/http-v4/index) for rate limit details.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.marketActivity()
     */
    public marketActivity(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<Record<string, WhitebitApi.GetApiV4PublicTickerResponseValue>> {
        return core.HttpResponsePromise.fromPromise(this.__marketActivity(requestOptions));
    }

    private async __marketActivity(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, WhitebitApi.GetApiV4PublicTickerResponseValue>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/ticker",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Record<string, WhitebitApi.GetApiV4PublicTickerResponseValue>,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v4/public/ticker");
    }

    /**
     * The endpoint retrieves the assets status.
     *
     * <Note>
     * The API caches the response for 1 second
     * </Note>
     *
     * <Warning>
     * Rate limit: 2000 requests/10 sec. See [Public API V4 overview](/public/http-v4/index) for rate limit details.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.assetStatusList()
     */
    public assetStatusList(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<Record<string, WhitebitApi.Asset>> {
        return core.HttpResponsePromise.fromPromise(this.__assetStatusList(requestOptions));
    }

    private async __assetStatusList(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, WhitebitApi.Asset>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/assets",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, WhitebitApi.Asset>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v4/public/assets");
    }

    /**
     * The endpoint retrieves the current [order book](/glossary#order-book) as two arrays ([bids](/glossary#bid) / [asks](/glossary#ask)) with additional parameters.
     *
     * <Note>
     * The API caches the response for 100 ms
     * </Note>
     *
     * <Warning>
     * Rate limit 600 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.GetApiV4PublicOrderbookMarketRequest} request
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.orderbook({
     *         market: "BTC_USDT",
     *         limit: 100,
     *         level: 2
     *     })
     */
    public orderbook(
        request: WhitebitApi.GetApiV4PublicOrderbookMarketRequest,
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.OrderbookResponse> {
        return core.HttpResponsePromise.fromPromise(this.__orderbook(request, requestOptions));
    }

    private async __orderbook(
        request: WhitebitApi.GetApiV4PublicOrderbookMarketRequest,
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.OrderbookResponse>> {
        const { market, limit, level } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            level,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                `api/v4/public/orderbook/${core.url.encodePathParam(market)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.OrderbookResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v4/public/orderbook/{market}",
        );
    }

    /**
     * The endpoint retrieves depth price levels within ±2% of the market last price. Use when lightweight order book data is needed for a narrow price band around the current market price. The ±2% constraint limits the response to price levels near the last traded price, reducing payload size compared to the full order book.
     *
     * <Note>
     * The API caches the response for 1 sec
     * </Note>
     *
     * <Warning>
     * Rate limit: 2000 requests/10 sec. See [Public API V4 overview](/public/http-v4/index) for rate limit details.
     * </Warning>
     *
     * @param {WhitebitApi.GetApiV4PublicOrderbookDepthMarketRequest} request
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.depth({
     *         market: "BTC_USDT"
     *     })
     */
    public depth(
        request: WhitebitApi.GetApiV4PublicOrderbookDepthMarketRequest,
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.OrderbookResponse> {
        return core.HttpResponsePromise.fromPromise(this.__depth(request, requestOptions));
    }

    private async __depth(
        request: WhitebitApi.GetApiV4PublicOrderbookDepthMarketRequest,
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.OrderbookResponse>> {
        const { market } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                `api/v4/public/orderbook/depth/${core.url.encodePathParam(market)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.OrderbookResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v4/public/orderbook/depth/{market}",
        );
    }

    /**
     * The endpoint retrieves the [trades](/glossary#deal-trade) that have been executed recently on the requested [market](/glossary#market).
     *
     * <Note>
     * The API caches the response for 1 second
     * </Note>
     *
     * <Note>
     *   Public trade data can include executions that originate from RPI orders. Public order book feeds (`depth`, `bookTicker`) exclude RPI orders. RPI orders appear only in private active orders and in the exchange UI order book (web and mobile).
     * </Note>
     *
     *
     * <Warning>
     * Rate limit 2000 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.GetApiV4PublicTradesMarketRequest} request
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.recentTrades({
     *         market: "BTC_USDT"
     *     })
     */
    public recentTrades(
        request: WhitebitApi.GetApiV4PublicTradesMarketRequest,
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetApiV4PublicTradesMarketResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__recentTrades(request, requestOptions));
    }

    private async __recentTrades(
        request: WhitebitApi.GetApiV4PublicTradesMarketRequest,
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetApiV4PublicTradesMarketResponseItem[]>> {
        const { market, type: type_ } = request;
        const _queryParams: Record<string, unknown> = {
            type: type_ != null ? type_ : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                `api/v4/public/trades/${core.url.encodePathParam(market)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetApiV4PublicTradesMarketResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v4/public/trades/{market}",
        );
    }

    /**
     * The endpoint retrieves the list of [fees](/glossary#fee) and min/max amounts for deposits and withdrawals
     *
     * <Note>
     * The API caches the response for 1 second
     * </Note>
     *
     * <Warning>
     * Rate limit: 2000 requests/10 sec. See [Public API V4 overview](/public/http-v4/index) for rate limit details.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.fee()
     */
    public fee(requestOptions?: PublicApiV4Client.RequestOptions): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__fee(requestOptions));
    }

    private async __fee(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/fee",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v4/public/fee");
    }

    /**
     * The endpoint retrieves the current server time.
     *
     * <Note>
     * The API caches the response for 1 second
     * </Note>
     *
     * <Warning>
     * Rate limit 2000 requests/10 sec.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.serverTime()
     */
    public serverTime(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetApiV4PublicTimeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__serverTime(requestOptions));
    }

    private async __serverTime(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetApiV4PublicTimeResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/time",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetApiV4PublicTimeResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v4/public/time");
    }

    /**
     * The endpoint retrieves the current API life-state.
     *
     * <Note>
     * The API caches the response for 1 second
     * </Note>
     *
     * <Warning>
     * Rate limit 2000 requests/10 sec.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.serverStatus()
     */
    public serverStatus(requestOptions?: PublicApiV4Client.RequestOptions): core.HttpResponsePromise<string[]> {
        return core.HttpResponsePromise.fromPromise(this.__serverStatus(requestOptions));
    }

    private async __serverStatus(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<string[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/ping",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v4/public/ping");
    }

    /**
     * The endpoint returns the list of [markets](/glossary#market) that are available for [collateral](/glossary#collateral) trading
     *
     * <Note>
     * The API caches the response for 1 second
     * </Note>
     *
     * <Warning>
     * Rate limit 2000 requests/10 sec.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.collateralMarketsList()
     */
    public collateralMarketsList(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetApiV4PublicCollateralMarketsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__collateralMarketsList(requestOptions));
    }

    private async __collateralMarketsList(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetApiV4PublicCollateralMarketsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/collateral/markets",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetApiV4PublicCollateralMarketsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v4/public/collateral/markets",
        );
    }

    /**
     * The endpoint returns the list of available futures markets.
     *
     * <Note>
     * The API caches the response for 1 second
     * </Note>
     *
     * <Warning>
     * Rate limit 2000 requests/10 sec.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.availableFuturesMarketsList()
     */
    public availableFuturesMarketsList(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetApiV4PublicFuturesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__availableFuturesMarketsList(requestOptions));
    }

    private async __availableFuturesMarketsList(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetApiV4PublicFuturesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/futures",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetApiV4PublicFuturesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v4/public/futures");
    }

    /**
     * The endpoint returns the funding rate history for a specified futures market.
     *
     * <Warning>
     * Rate limit 2000 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.GetApiV4PublicFundingHistoryMarketRequest} request
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.fundingHistory({
     *         market: "BTC_PERP",
     *         startDate: 1752480000,
     *         endDate: 1752537600,
     *         limit: 100,
     *         offset: 0
     *     })
     */
    public fundingHistory(
        request: WhitebitApi.GetApiV4PublicFundingHistoryMarketRequest,
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetApiV4PublicFundingHistoryMarketResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__fundingHistory(request, requestOptions));
    }

    private async __fundingHistory(
        request: WhitebitApi.GetApiV4PublicFundingHistoryMarketRequest,
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetApiV4PublicFundingHistoryMarketResponseItem[]>> {
        const { market, startDate, endDate, limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            startDate,
            endDate,
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                `api/v4/public/funding-history/${core.url.encodePathParam(market)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetApiV4PublicFundingHistoryMarketResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v4/public/funding-history/{market}",
        );
    }

    /**
     * The endpoint returns overall information about the current mining pool state.
     *
     * Hash rate is expressed in H units.
     *
     * <Warning>
     * Rate limit 1000 requests/10 sec.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.miningPoolOverview()
     */
    public miningPoolOverview(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetApiV4PublicMiningPoolResponse> {
        return core.HttpResponsePromise.fromPromise(this.__miningPoolOverview(requestOptions));
    }

    private async __miningPoolOverview(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetApiV4PublicMiningPoolResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-TXC-APIKEY": requestOptions?.txcApikey ?? this._options?.txcApikey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/mining-pool",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetApiV4PublicMiningPoolResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v4/public/mining-pool");
    }
}
