// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as WhitebitApi from "../../../index.js";

export declare namespace PublicApiV4Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PublicApiV4Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<PublicApiV4Client.Options>;

    constructor(options: PublicApiV4Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * The endpoint retrieves the current maintenance status of the WhiteBIT platform. Use the response to detect scheduled downtime and pause trading automation during maintenance windows. The `status` field returns `"system operational"` when all platform services are available, or `"system maintenance"` when the platform is undergoing planned maintenance.
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.maintenanceStatus()
     */
    public maintenanceStatus(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetApiV4PublicPlatformStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__maintenanceStatus(requestOptions));
    }

    private async __maintenanceStatus(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetApiV4PublicPlatformStatusResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/platform/status",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetApiV4PublicPlatformStatusResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v4/public/platform/status",
        );
    }

    /**
     * The endpoint retrieves configuration and trading rules for all available spot and futures markets (TradFi futures markets are coming soon and are not yet returned). Use the response to discover tradeable pairs, check minimum order sizes, and read fee schedules. Each entry includes precision settings, fee ratios, and order-size constraints for the market.
     *
     * <Note>
     * Market configuration is reference data, re-synced from the database approximately every 10 seconds. Polling more frequently returns identical data. The cache is shared across all callers.
     * </Note>
     *
     * <Note>
     * TradFi futures markets are coming soon and are not yet returned by this endpoint. Once available, they will be region-gated: markets not available in a given region are omitted from the response entirely and do not appear under any other market type.
     * </Note>
     *
     * <Note>
     * A market with an announced delisting carries the announced date in `delistedAt` and stays tradeable until the delisting runs. Once the delisting runs, the platform cancels the active orders on the market and drops the market from this response — [Query delisting orders](/api-reference/spot-trading/query-delisting-orders) is a signed request that returns the authenticated account's resulting spot order records. An announcement can be rescheduled or canceled, so treat `delistedAt` as the current plan rather than a settled fact and re-read the value on the next poll.
     * </Note>
     *
     * <Warning>
     * Rate limit 2000 requests/10 sec.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.marketInfo()
     */
    public marketInfo(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetApiV4PublicMarketsResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__marketInfo(requestOptions));
    }

    private async __marketInfo(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetApiV4PublicMarketsResponseItem[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/markets",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetApiV4PublicMarketsResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v4/public/markets");
    }

    /**
     * The endpoint retrieves a 24-hour pricing and volume summary for each market pair available on the exchange.
     *
     * <Note>
     * The API caches the response for 1 second
     * </Note>
     *
     * <Warning>
     * Rate limit: 2000 requests/10 sec. See [Public API V4 overview](/public/http-v4/index) for rate limit details.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.marketActivity()
     */
    public marketActivity(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<Record<string, WhitebitApi.GetApiV4PublicTickerResponseValue>> {
        return core.HttpResponsePromise.fromPromise(this.__marketActivity(requestOptions));
    }

    private async __marketActivity(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, WhitebitApi.GetApiV4PublicTickerResponseValue>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/ticker",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Record<string, WhitebitApi.GetApiV4PublicTickerResponseValue>,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v4/public/ticker");
    }

    /**
     * The endpoint retrieves the deposit and withdrawal status for every supported asset. Use the response to check whether deposits and withdrawals are enabled, read per-network fee and limit details, and determine required blockchain confirmation counts. The response includes crypto assets, fiat currencies, and fiat payment methods.
     *
     * <Note>
     * Asset status is reference data, re-synced approximately once per minute. Polling more frequently returns identical data. The cache is shared across all callers.
     * </Note>
     *
     * <Warning>
     * Rate limit: 2000 requests/10 sec. See [Public API V4 overview](/public/http-v4/index) for rate limit details.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.assetStatusList()
     */
    public assetStatusList(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<Record<string, WhitebitApi.Asset>> {
        return core.HttpResponsePromise.fromPromise(this.__assetStatusList(requestOptions));
    }

    private async __assetStatusList(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, WhitebitApi.Asset>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/assets",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, WhitebitApi.Asset>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v4/public/assets");
    }

    /**
     * The endpoint retrieves the current [order book](/glossary#order-book) as two arrays ([bids](/glossary#bid) / [asks](/glossary#ask)) with additional parameters.
     *
     * <Note>
     * The API caches the response for 100 ms
     * </Note>
     *
     * <Warning>
     * Rate limit 600 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.GetApiV4PublicOrderbookMarketRequest} request
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.publicApiV4.orderbook({
     *         market: "BTC_USDT",
     *         limit: 100,
     *         level: 2
     *     })
     */
    public orderbook(
        request: WhitebitApi.GetApiV4PublicOrderbookMarketRequest,
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.OrderbookResponse> {
        return core.HttpResponsePromise.fromPromise(this.__orderbook(request, requestOptions));
    }

    private async __orderbook(
        request: WhitebitApi.GetApiV4PublicOrderbookMarketRequest,
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.OrderbookResponse>> {
        const { market, limit, level } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            level,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                `api/v4/public/orderbook/${core.url.encodePathParam(market)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.OrderbookResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v4/public/orderbook/{market}",
        );
    }

    /**
     * The endpoint retrieves depth price levels within ±2% of the market last price. Use when lightweight order book data is needed for a narrow price band around the current market price. The ±2% constraint limits the response to price levels near the last traded price, reducing payload size compared to the full order book.
     *
     * <Note>
     * The API caches the response for 1 sec
     * </Note>
     *
     * <Warning>
     * Rate limit: 2000 requests/10 sec. See [Public API V4 overview](/public/http-v4/index) for rate limit details.
     * </Warning>
     *
     * @param {WhitebitApi.GetApiV4PublicOrderbookDepthMarketRequest} request
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.publicApiV4.depth({
     *         market: "BTC_USDT"
     *     })
     */
    public depth(
        request: WhitebitApi.GetApiV4PublicOrderbookDepthMarketRequest,
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.OrderbookResponse> {
        return core.HttpResponsePromise.fromPromise(this.__depth(request, requestOptions));
    }

    private async __depth(
        request: WhitebitApi.GetApiV4PublicOrderbookDepthMarketRequest,
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.OrderbookResponse>> {
        const { market } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                `api/v4/public/orderbook/depth/${core.url.encodePathParam(market)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as WhitebitApi.OrderbookResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v4/public/orderbook/depth/{market}",
        );
    }

    /**
     * The endpoint retrieves the [trades](/glossary#deal-trade) that have been executed recently on the requested [market](/glossary#market). It returns up to the 100 most recent trades; the response size is fixed and there is no `limit` parameter.
     *
     * <Note>
     * The API caches the response for 1 second
     * </Note>
     *
     * <Note>
     *   Public trade data can include executions that originate from RPI orders. Public order book feeds (`depth`, `bookTicker`) exclude RPI orders. RPI orders appear only in private active orders and in the exchange UI order book (web and mobile).
     * </Note>
     *
     *
     * <Warning>
     * Rate limit 2000 requests/10 sec.
     * </Warning>
     *
     * @param {WhitebitApi.GetApiV4PublicTradesMarketRequest} request
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.publicApiV4.recentTrades({
     *         market: "BTC_USDT"
     *     })
     */
    public recentTrades(
        request: WhitebitApi.GetApiV4PublicTradesMarketRequest,
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetApiV4PublicTradesMarketResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__recentTrades(request, requestOptions));
    }

    private async __recentTrades(
        request: WhitebitApi.GetApiV4PublicTradesMarketRequest,
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetApiV4PublicTradesMarketResponseItem[]>> {
        const { market, type: type_ } = request;
        const _queryParams: Record<string, unknown> = {
            type: type_ != null ? type_ : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                `api/v4/public/trades/${core.url.encodePathParam(market)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetApiV4PublicTradesMarketResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v4/public/trades/{market}",
        );
    }

    /**
     * The endpoint retrieves the [fee](/glossary#fee) schedule and deposit/withdrawal limits for every supported asset. Use the response to display fee estimates before a user initiates a deposit or withdrawal. The response is keyed by currency ticker; each entry contains deposit and withdrawal fee amounts and min/max transfer limits.
     *
     * <Note>
     * The fee schedule is reference data, re-synced approximately once per minute. Polling more frequently returns identical data. The cache is shared across all callers.
     * </Note>
     *
     * <Warning>
     * Rate limit: 2000 requests/10 sec. See [Public API V4 overview](/public/http-v4/index) for rate limit details.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.fee()
     */
    public fee(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<Record<string, WhitebitApi.FeeInfo>> {
        return core.HttpResponsePromise.fromPromise(this.__fee(requestOptions));
    }

    private async __fee(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, WhitebitApi.FeeInfo>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/fee",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, WhitebitApi.FeeInfo>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v4/public/fee");
    }

    /**
     * The endpoint retrieves the current server time as a Unix timestamp. Use the response to synchronize local clocks before generating HMAC signatures for authenticated requests. The endpoint takes no parameters and has no request-validation errors; it returns HTTP 200 on success and fails only at the infrastructure level (see the API description).
     *
     * <Note>
     * The server time is computed per request and is not cached.
     * </Note>
     *
     * <Warning>
     * Rate limit 2000 requests/10 sec.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.serverTime()
     */
    public serverTime(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetApiV4PublicTimeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__serverTime(requestOptions));
    }

    private async __serverTime(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetApiV4PublicTimeResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/time",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetApiV4PublicTimeResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v4/public/time");
    }

    /**
     * The endpoint checks API availability by returning a simple health-check response. Use the endpoint to verify network connectivity and confirm the API server is reachable. A successful response contains the string `"pong"`. The endpoint takes no parameters and has no request-validation errors; it returns HTTP 200 on success and fails only at the infrastructure level (see the API description).
     *
     * <Note>
     * The health-check response is generated per request and is not cached.
     * </Note>
     *
     * <Warning>
     * Rate limit 2000 requests/10 sec.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.serverStatus()
     */
    public serverStatus(requestOptions?: PublicApiV4Client.RequestOptions): core.HttpResponsePromise<string[]> {
        return core.HttpResponsePromise.fromPromise(this.__serverStatus(requestOptions));
    }

    private async __serverStatus(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<string[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/ping",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v4/public/ping");
    }

    /**
     * The endpoint returns the list of [market](/glossary#market) pair names available for [collateral](/glossary#collateral) trading. Use the response to determine which markets support margin positions. Each item in the result array is a market pair name in `BASE_QUOTE` format (e.g., `BTC_USDT`).
     *
     * <Note>
     * The collateral market list is reference data, re-synced approximately every 10 seconds. Polling more frequently returns identical data. The cache is shared across all callers.
     * </Note>
     *
     * <Warning>
     * Rate limit 2000 requests/10 sec.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnavailableForLegalReasonsError}
     *
     * @example
     *     await client.publicApiV4.collateralMarketsList()
     */
    public collateralMarketsList(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetApiV4PublicCollateralMarketsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__collateralMarketsList(requestOptions));
    }

    private async __collateralMarketsList(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetApiV4PublicCollateralMarketsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/collateral/markets",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetApiV4PublicCollateralMarketsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 451:
                    throw new WhitebitApi.UnavailableForLegalReasonsError(
                        _response.error.body as WhitebitApi.ErrorV4,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v4/public/collateral/markets",
        );
    }

    /**
     * The endpoint returns detailed information for all available futures markets. Use the response to read current pricing, open interest, funding rates, and leverage bracket configuration. Each entry includes the predicted next funding rate, settlement timestamps, and maximum allowed position sizes per leverage level.
     *
     * <Note>
     * The API caches the response for 1 second
     * </Note>
     *
     * <Warning>
     * Rate limit 2000 requests/10 sec.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnavailableForLegalReasonsError}
     *
     * @example
     *     await client.publicApiV4.availableFuturesMarketsList()
     */
    public availableFuturesMarketsList(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetApiV4PublicFuturesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__availableFuturesMarketsList(requestOptions));
    }

    private async __availableFuturesMarketsList(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetApiV4PublicFuturesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/futures",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetApiV4PublicFuturesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 451:
                    throw new WhitebitApi.UnavailableForLegalReasonsError(
                        _response.error.body as WhitebitApi.ErrorV4,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v4/public/futures");
    }

    /**
     * The endpoint returns the funding rate history for a specified futures market. Use the response to analyze historical funding rate trends and settlement prices. Results are sorted by funding time in descending order and support offset-based pagination via `limit` and `offset` parameters.
     *
     * <Warning>
     * Rate limit 2000 requests/10 sec.
     * </Warning>
     *
     * <Note>
     * This endpoint supports pagination. Use `limit` (default: 100, max: 100) and `offset` (default: 0, max: 1000000) to page through results.
     * </Note>
     *
     * <Note>
     * The response is a plain array with no `total`, `has_more`, or cursor — a returned count below `limit` marks the last page (an empty array means no further records).
     * </Note>
     *
     * <Note>
     * Funding history is served per request at the API layer, with no application-level cache.
     * </Note>
     *
     * @param {WhitebitApi.GetApiV4PublicFundingHistoryMarketRequest} request
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link WhitebitApi.UnprocessableEntityError}
     *
     * @example
     *     await client.publicApiV4.fundingHistory({
     *         market: "BTC_PERP",
     *         startDate: 1752480000,
     *         endDate: 1752537600,
     *         limit: 100,
     *         offset: 0
     *     })
     */
    public fundingHistory(
        request: WhitebitApi.GetApiV4PublicFundingHistoryMarketRequest,
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetApiV4PublicFundingHistoryMarketResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__fundingHistory(request, requestOptions));
    }

    private async __fundingHistory(
        request: WhitebitApi.GetApiV4PublicFundingHistoryMarketRequest,
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetApiV4PublicFundingHistoryMarketResponseItem[]>> {
        const { market, startDate, endDate, limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            startDate,
            endDate,
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                `api/v4/public/funding-history/${core.url.encodePathParam(market)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetApiV4PublicFundingHistoryMarketResponseItem[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new WhitebitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WhitebitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v4/public/funding-history/{market}",
        );
    }

    /**
     * The endpoint returns overall information about the current mining pool state.
     *
     * Hash rate is expressed in H units.
     *
     * <Warning>
     * Rate limit 1000 requests/10 sec.
     * </Warning>
     *
     * @param {PublicApiV4Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.publicApiV4.miningPoolOverview()
     */
    public miningPoolOverview(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): core.HttpResponsePromise<WhitebitApi.GetApiV4PublicMiningPoolResponse> {
        return core.HttpResponsePromise.fromPromise(this.__miningPoolOverview(requestOptions));
    }

    private async __miningPoolOverview(
        requestOptions?: PublicApiV4Client.RequestOptions,
    ): Promise<core.WithRawResponse<WhitebitApi.GetApiV4PublicMiningPoolResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-TXC-PAYLOAD": requestOptions?.txcPayload ?? this._options?.txcPayload,
                "X-TXC-SIGNATURE": requestOptions?.txcSignature ?? this._options?.txcSignature,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.WhitebitApiEnvironment.Default
                    ).base,
                "api/v4/public/mining-pool",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as WhitebitApi.GetApiV4PublicMiningPoolResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.WhitebitApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v4/public/mining-pool");
    }
}
